/*
Theme Name: DeVoe
Description: DeVoe is the complete solution for any Fashion or Entertainment site, with a focus on reducing bounce rates by providing endless content options. DeVoe also maximizes your ad revenue by providing countless ad placements, while increasing the visibility of those ads with sticky sidebars. DeVoe is also fully-responsive, retina-ready, translation-ready, comes with dynamic social sharing options, post/page slideshows, and much more!
Author: MVP Themes
Author URI: http://themeforest.net/user/mvpthemes
Theme URI: http://themeforest.net/user/mvpthemes
Version: 1.07
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
*/

html {
	overflow-x: hidden;
 	}

body {
	color: #444;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	line-height: 100%;
	margin: 0px auto;
	padding: 0px;
	}

h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	-webkit-backface-visibility: hidden;
	color: #222;
	}

img {
	max-width: 100%;
	height: auto;
	-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
	}

iframe,
embed,
object,
video {
	max-width: 100%;
	}

div {
	-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

/************************************************
	Hyperlinks
************************************************/

a, a:visited {
	font-weight: 700;
	text-decoration: none;
	-webkit-transition: color .3s;
	   -moz-transition: color .3s;
	    -ms-transition: color .3s;
	     -o-transition: color .3s;
		transition: color .3s;
	}

a:hover {
	text-decoration: none;
	}

a:active,
a:focus {
	outline: none;
	}

/************************************************
	Layout
************************************************/

#site,
#site-fixed {
	position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
	width: 100%;
	height: 100%;
	}

#site-out {
	width: 100%;
	}

.relative {
	position: relative;
	}

.w100 {
	width: 100% !important;
	}

.right, .alignright {
	float: right;
	}

.alignright {
	margin: 20px 0 20px 20px;
	}

.left, .alignleft {
	float: left;
	}

.alignleft {
	margin: 20px 20px 20px 0;
	}

.aligncenter {
	display: block;
	margin: 0 auto;
	}

.section-div {
	border-bottom: 1px dotted #ccc;
	float: left;
	margin: 20px 0;
	width: 100%;
	}

.section {
	clear: both;
	overflow: hidden;
	}

.mob-img {
	display: none;
	}

ul.fly-bottom-soc li,
.head-latest-img img,
.head-latest-text h2,
.horz-list-img img,
.horz-list-text h2,
.archive-list-img img,
.feat-wide-img img,
.feat-main-top-img img,
.feat-main-sub-img img,
.feat-main2-text h2,
.feat-sub2-img img {
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
		transition: all .3s ease;
	}

/************************************************
	Navigation
************************************************/

#fly-wrap {
	background: #444;
	background-image: -moz-linear-gradient(to right,rgba(0,0,0,0) 97%, rgba(0,0,0,0.1) 99%, rgba(0,0,0,0.2) 100%);
		background-image: -ms-linear-gradient(to right,rgba(0,0,0,0) 97%, rgba(0,0,0,0.1) 99%, rgba(0,0,0,0.2) 100%);
		background-image: -o-linear-gradient(to right,rgba(0,0,0,0) 97%, rgba(0,0,0,0.1) 99%, rgba(0,0,0,0.2) 100%);
		background-image: -webkit-linear-gradient(to right,rgba(0,0,0,0) 97%, rgba(0,0,0,0.1) 99%, rgba(0,0,0,0.2) 100%);
		background-image: -webkit-gradient(linear, left center, right center, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.2)));
		background-image: linear-gradient(to left,rgba(0,0,0,0) 97%, rgba(0,0,0,0.1) 99%, rgba(0,0,0,0.2) 100%);
	overflow: hidden;
	position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
	-webkit-transform: translate3d(330px,0,0);
	   -moz-transform: translate3d(330px,0,0);
	    -ms-transform: translate3d(330px,0,0);
	     -o-transform: translate3d(330px,0,0);
		transform: translate3d(330px,0,0);
	width: 390px;
	height: 100%;
	z-index: 999;
	}

.fly-wrap-out {
	float: right;
	margin-left: -60px;
	position: relative;
	width: 100%;
	height: 100%;
	}

.fly-wrap-in {
	margin-left: 60px;
	position: relative;
	height: 100%;
	}

.fly-side-wrap {
	position: absolute;
		left: 0;
		top: 0;
	width: 60px;
	height: 100%;
	}

#fly-wrap,
#main-nav-wrap,
#site-fixed,
.fly-bottom-soc,
.fly-to-top,
.fly-soc-head {
	-webkit-transition: -webkit-transform 0.3s ease;
	   -moz-transition: -moz-transform 0.3s ease;
	    -ms-transition: -ms-transform 0.3s ease;
	     -o-transition: -o-transform 0.3s ease;
		transition: transform 0.3s ease;
	}

.fly-but-wrap {
	cursor: pointer;
	overflow: hidden;
	position: fixed;
		top: 0;
		right: 0;
	width: 60px;
	height: 60px;
	z-index: 9999;
	}

.fly-search-out {
	-webkit-box-shadow: 4px 3px 6px 0 rgba(0,0,0,0.20);
	   -moz-box-shadow: 4px 3px 6px 0 rgba(0,0,0,0.20);
	    -ms-box-shadow: 4px 3px 6px 0 rgba(0,0,0,0.20);
	     -o-box-shadow: 4px 3px 6px 0 rgba(0,0,0,0.20);
		box-shadow: 4px 3px 6px 0 rgba(0,0,0,0.20);
	}

.fly-but-wrap span {
	background: #fff;
	display: block;
	position: absolute;
		left: 15px;
	-webkit-transform: rotate(0deg);
	   -moz-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	     -o-transform: rotate(0deg);
		transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	   -moz-transition: .25s ease-in-out;
	    -ms-transition: .25s ease-in-out;
	     -o-transition: .25s ease-in-out;
		transition: .25s ease-in-out;
	width: 30px;
	height: 3px;
	}

.fly-but-wrap span:nth-child(1) {
	top: 20.5px;
	}

.fly-but-wrap span:nth-child(2),
.fly-but-wrap span:nth-child(3) {
	top: 28.5px;
	}

.fly-but-wrap span:nth-child(4) {
	top: 36.5px;
	}

.fly-but-wrap.fly-open span:nth-child(1),
.fly-but-wrap.fly-open span:nth-child(4) {
	top: 29px;
	left: 50%;
	width: 0%;
	}

.fly-but-wrap.fly-open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
		transform: rotate(45deg);
	}

.fly-but-wrap.fly-open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

.fly-menu {
	-webkit-transform: translate3d(0,0,0) !important;
	   -moz-transform: translate3d(0,0,0) !important;
	    -ms-transform: translate3d(0,0,0) !important;
	     -o-transform: translate3d(0,0,0) !important;
		transform: translate3d(0,0,0) !important;
	}

.fly-content,
.main-nav-over {
	-webkit-transform: translate3d(-330px,0,0) !important;
	   -moz-transform: translate3d(-330px,0,0) !important;
	    -ms-transform: translate3d(-330px,0,0) !important;
	     -o-transform: translate3d(-330px,0,0) !important;
		transform: translate3d(-330px,0,0) !important;
	}

.fly-show {
	opacity: 1.0 !important;
	}

.fly-hide {
	opacity: 0 !important;
	}

.fly-bottom-wrap {
	position: absolute;
		left: 0;
		bottom: 0;
	width: 60px;
	}

span.fly-soc-head {
	color: #999;
	font-family: 'Open Sans', sans-serif;
	font-size: 9px;
	font-weight: 600;
	line-height: 100%;
	margin-bottom: 10px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	}

ul.fly-bottom-soc {
	overflow: hidden;
	width: 100%;
	}

ul.fly-bottom-soc li {
	border-top: 1px solid #333;
	color: #6a6a6a;
	cursor: pointer;
	float: left;
	overflow: hidden;
	text-align: center;
	width: 100%;
	}

ul.fly-bottom-soc li i {
	font-size: 20px;
	padding: 10px;
	}

ul.fly-bottom-soc li.fb-soc:hover,
.post-soc-fb {
	background: #3b5997;
	color: #fff;
	}

ul.fly-bottom-soc li.twit-soc:hover,
.post-soc-twit {
	background: #00aced;
	color: #fff;
	}

ul.fly-bottom-soc li.pin-soc:hover,
.post-soc-pin {
	background: #cb2027;
	color: #fff;
	}

ul.fly-bottom-soc li.inst-soc:hover {
	background: #36658c;
	color: #fff;
	}

ul.fly-bottom-soc li.goog-soc:hover {
	background: #cd3627;
	color: #fff;
	}

ul.fly-bottom-soc li.yt-soc:hover {
	background: #f00;
	color: #fff;
	}

ul.fly-bottom-soc li.link-soc:hover {
	background: #069;
	color: #fff;
	}

ul.fly-bottom-soc li.tum-soc:hover {
	background: #304e6c;
	color: #fff;
	}

ul.fly-bottom-soc li.rss-soc:hover {
	background: #f60;
	color: #fff;
	}

.fly-to-top {
	background: #fff;
	-webkit-box-shadow: 4px -3px 6px 0 rgba(0,0,0,0.20);
	   -moz-box-shadow: 4px -3px 6px 0 rgba(0,0,0,0.20);
	    -ms-box-shadow: 4px -3px 6px 0 rgba(0,0,0,0.20);
	     -o-box-shadow: 4px -3px 6px 0 rgba(0,0,0,0.20);
		box-shadow: 4px -3px 6px 0 rgba(0,0,0,0.20);
	cursor: pointer;
	overflow: hidden;
	width: 60px;
	height: 60px;
	}

.fly-bottom-soc,
.fly-to-top,
.fly-soc-head {
	-webkit-transform: translate3d(0,60px,0);
	   -moz-transform: translate3d(0,60px,0);
	    -ms-transform: translate3d(0,60px,0);
	     -o-transform: translate3d(0,60px,0);
		transform: translate3d(0,60px,0);
	}

.to-top-trans {
	-webkit-transform: translate3d(0,0,0);
	   -moz-transform: translate3d(0,0,0);
	    -ms-transform: translate3d(0,0,0);
	     -o-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

.fly-to-top i {
	color: #444;
	font-size: 50px;
	line-height: 100%;
	position: absolute;
		top: -5px;
		left: 14px;
	}

span.to-top-text {
	color: #444;
	font-family: 'Open Sans', sans-serif;
	font-size: 9px;
	font-weight: 600;
	line-height: 100%;
	position: absolute;
		bottom: 15px;
		left: 14px;
	text-transform: uppercase;
	}

.fly-search-out {
	margin-right: -120px;
	position: absolute;
		left: 60px;
	width: 100%;
	height: 60px;
	z-index: 50;
	}

.fly-search-in {
	margin-right: 120px;
	position: relative;
	}

.fly-but-search {
	background: #444;
	overflow: hidden;
	padding: 15px 4%; /* 15px / 390px */
	position: absolute;
		left: 0;
		top: 0;
	width: 92%;
	}

#searchform input {
	background: #555;
	border: 0;
	color: #ddd;
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-size: .75rem;
	font-weight: 400;
	line-height: 100%;
	padding: 5px 5%;
	text-transform: uppercase;
	width: 90%;
	height: 20px;
	}

#searchform #searchsubmit {
	border: none;
	float: left;
	}

#searchform #s:focus {
	outline: none;
	}

#fly-menu-wrap {
	background: #333;
	background-image: -moz-linear-gradient(to right,rgba(0,0,0,0) 97%, rgba(0,0,0,0.1) 99%, rgba(0,0,0,0.2) 100%);
		background-image: -ms-linear-gradient(to right,rgba(0,0,0,0) 97%, rgba(0,0,0,0.1) 99%, rgba(0,0,0,0.2) 100%);
		background-image: -o-linear-gradient(to right,rgba(0,0,0,0) 97%, rgba(0,0,0,0.1) 99%, rgba(0,0,0,0.2) 100%);
		background-image: -webkit-linear-gradient(to right,rgba(0,0,0,0) 97%, rgba(0,0,0,0.1) 99%, rgba(0,0,0,0.2) 100%);
		background-image: -webkit-gradient(linear, left center, right center, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.2)));
		background-image: linear-gradient(to left,rgba(0,0,0,0) 97%, rgba(0,0,0,0.1) 99%, rgba(0,0,0,0.2) 100%);
	overflow: hidden;
	position: absolute;
		top: 60px;
		left: 60px;
	width: 100%;
	height: 100%;
	}

.fly-menu-out {
	float: left;
	margin-right: -60px;
	position: relative;
	width: 100%;
	height: 100%
	}

.fly-menu-in {
	margin-right: 60px;
	position: relative;
	height: 100%;
	}

nav.main-menu {
	-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	margin: 15px 4.54545454545% 0; /* 15px / 330px */
	overflow: hidden;
	position: absolute !important;
	width: 90.9090909091%; /* 300px / 330px */
	height: 87%;
	}

nav.main-menu ul {
	float: left;
	position: relative;
	width: 100%;
	}

nav.main-menu ul li {
	border-top: 1px solid #444;
	cursor: pointer;
	float: left;
	position: relative;
	width: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	}

nav.main-menu ul li:first-child {
	border-top: none;
	}

nav.main-menu ul li a {
	color: #fff;
	display: inline-block;
	float: left;
	font-size: .95rem;
	font-weight: 300;
	line-height: 100%;
	padding: 14px 0;
	text-transform: uppercase;
	}

nav.main-menu ul li.menu-item-has-children:after {
	content: '+';
	color: #777;
	font-family: 'Open Sans', serif;
	font-size: 32px;
	font-weight: 800;
	position: absolute;
		right: 0;
		top: 12px;
	}

nav.main-menu ul li.menu-item-has-children.tog-minus:after {
	content: '_';
	right: 1px;
	top: -3px;
	}

nav.main-menu ul li ul.sub-menu {
	border-top: 1px solid #444;
	display: none;
	float: left;
	padding-left: 6.66666666666%; /* 20px / 300px */
	width: 93.333333333%; /* 280px / 300px */
	}

/************************************************
	Leaderboard
************************************************/

#leader-wrap {
	background: #eee;
	line-height: 0;
	margin-bottom: 30px;
	overflow: hidden;
	padding: 15px 0;
	text-align: center;
	width: 100%;
	}

#leader-wrap div {
	margin: 0 auto;
	}

/************************************************
	Header
************************************************/

header {
	-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	float: left;
	overflow: hidden;
	width: 100%;
	height: 60px;
	}

.category header {
	margin-bottom: 0;
	}

#main-nav-wrap {
	opacity: .95;
	position: fixed;
		top: 0;
		right: 0;
	-webkit-transition: top 0.3s ease, -webkit-transform 0.3s ease;
	   -moz-transition: top 0.3s ease, -moz-transform 0.3s ease;
	    -ms-transition: top 0.3s ease, -ms-transform 0.3s ease;
	     -o-transition: top 0.3s ease, -o-transform 0.3s ease;
		transition: top 0.3s ease, transform 0.3s ease;
	width: 100%;
	max-width: 1600px;
	height: 60px;
	z-index: 10;
	}

.main-nav-drop {
	top: 0 !important;
	}

.main-nav-out {
	left: 30px;
	margin-right: -120px;
	position: relative;
	width: 100%;
	height: 100%;
	}

.main-nav-in {
	margin-right: 120px;
	position: relative;
	height: 100%;
	}

#main-nav-contain {
	width: 100%;
	height: 60px;
	}

#main-nav-contain:after {
	content: '';
		background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 20%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.1) 100%);
		background-image: -ms-linear-gradient(to bottom,rgba(0,0,0,0) 20%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.1) 100%);
		background-image: -o-linear-gradient(to bottom,rgba(0,0,0,0) 20%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.1) 100%);
		background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 20%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.1) 100%);
		background-image: -webkit-gradient(linear, top center, bottom center, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.1)));
	background-image: linear-gradient(to top,rgba(0,0,0,0) 20%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.1) 100%);
	position: absolute;
		left: 0;
		bottom: -10px;
	width: 100%;
	height: 10px;
	}

.main-nav-contain-out {
	float: right;
	margin-left: -230px;
	width: 100%;
	}

.main-nav-contain-in {
	margin-left: 230px;
	}

#main-nav-logo {
	margin-right: 30px;
	overflow: hidden;
	max-width: 200px;
	height: 60px;
	}

#main-nav-logo img {
	max-height: 60px;
	}

h1.home-header {
	display: none;
	}

#main-nav-right {
	overflow: hidden;
	width: 100%;
	}

.small-nav-wrap {
	overflow: hidden;
	width: 100%;
	height: 60px;
	}

.small-nav-wrap ul {
	float: left;
	position: relative;
	width: 100%;
	}

.small-nav-wrap ul li {
	float: left;
	text-transform: uppercase;
	}

.small-nav-wrap ul li a {
	float: left;
	font-size: 18px;
	font-weight: 300;
	line-height: 100%;
	padding: 20px 20px;
	}

.small-nav-wrap ul li ul {
	display: none;
	}

#content-out {
	background: #fff;
	-webkit-backface-visibility: hidden;
	float: left;
	margin-right: -60px;
	width: 100%;
	height: 100%;
	}

#content-in {
	-webkit-backface-visibility: hidden;
	margin-right: 60px;
	height: 100%;
	}

#main-content-wrap {
	background: #fff;
	padding-top: 30px;
	width: 100%;
	}

.head-main-out {
	float: right;
	margin-left: -450px;
	width: 100%;
	}

.head-main-in {
	margin-left: 450px;
	}

#head-main-top {
	background: #fff;
	width: 100%;
	max-height: 900px;
	}

.category #head-main-top {
	max-height: none;
	padding-top: 30px;
	}

.head-left-wrap {
	margin-right: 30px;
	width: 420px;
	}

#main-logo-wrap {
	line-height: 0;
	margin-top: 30px;
	text-align: center;
	width: 100%;
	}

.head-latest-wrap {
	margin-top: 20px;
	overflow: hidden;
	width: 100%;
	height: 576px;
	}

.category .head-latest-wrap {
	margin-top: 0;
	height: 675px;
	}

span.head-latest-head {
	color: #bbb;
	font-size: 2.2rem;
	font-style: italic;
	font-weight: 700;
	line-height: 100%;
	margin-bottom: 20px;
	text-align: center;
	width: 100%;
	}

ul.head-latest-list {
	margin-bottom: 39px;
	width: 100%;
	}

ul.head-latest-list li {
	border-top: 1px solid #ddd;
	float: left;
	margin-top: 15px;
	padding-top: 15px;
	width: 100%;
	}

.foot-widget ul.head-latest-list li {
	margin-top: 10px;
	padding-top: 10px;
	}

ul.head-latest-list li:first-child {
	border-top: none;
	margin-top: 0;
	padding-top: 0;
	}

.head-latest-out {
	float: right;
	margin-left: -165px;
	width: 100%;
	}

.head-latest-in {
	margin-left: 165px;
	}

#sidebar-wrap .head-latest-out {
	margin-left: -100px;
	}

.foot-widget .head-latest-out,
.foot-widget .head-latest-in {
	margin-left: 0;
	}

#sidebar-wrap .head-latest-in {
	margin-left: 100px;
	}

.head-latest-img {
	background: #000;
	line-height: 0;
	margin-right: 15px;
	width: 150px;
	}

#sidebar-wrap .head-latest-img {
	width: 85px;
	}

.foot-widget .head-latest-img {
	display: none;
	}

ul.head-latest-list li:hover .head-latest-img img {
	opacity: .8;
	}

.head-latest-text {
	width: 100%;
	}

.head-latest-text h2 {
	float: left;
	font-size: .9rem;
	font-weight: 700;
	line-height: 140%;
	margin-bottom: 5px;
	text-transform: uppercase;
	width: 100%;
	}

#sidebar-wrap .head-latest-text h2,
.foot-widget .head-latest-text h2 {
	font-size: .75rem;
	margin-bottom: 0;
	}

.foot-widget .head-latest-text h2 {
	color: #777;
	}

.head-latest-text p,
.archive-list-text p {
	float: left;
	font-weight: 400;
	width: 100%;
	}

.head-latest-text p {
	color: #777;
	font-size: .9rem;
	line-height: 140%;	
	}

.head-latest-scroll {
	background: #fff;
	color: #999;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 800;
	line-height: 100%;
	padding-top: 10px;
	position: absolute;
		left: 0;
		bottom: 0;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	}

.head-latest-scroll:before {
	content: '';
		background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 20%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.1) 100%);
		background-image: -ms-linear-gradient(to bottom,rgba(0,0,0,0) 20%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.1) 100%);
		background-image: -o-linear-gradient(to bottom,rgba(0,0,0,0) 20%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.1) 100%);
		background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 20%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.1) 100%);
		background-image: -webkit-gradient(linear, top center, bottom center, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.1)));
	background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 50%, rgba(0,0,0,0.1) 100%);
	position: absolute;
		top: -10px;
		left: 0;
	width: 100%;
	height: 10px;
	}

.head-latest-scroll span {
	margin-right: 5px;
	}

.head-right-wrap {
	width: 100%;
	}

.feat-trend-wrap {
	padding: 15px 0;
	overflow: hidden;
	width: 100%;
	height: 30px;
	}

ul.feat-trend-list {
	width: 100%;
	}

ul.feat-trend-list li {
	float: left;
	margin-bottom: 20px;
	}

ul.feat-trend-list li.trend-head {
	color: #bbb;
	font-size: 22px;
	font-style: italic;
	font-weight: 700;
	line-height: 100%;
	padding: 4px 0;
	}

ul.feat-trend-list li.trend-item {
	border-left: 1px solid rgba(0,0,0,.15);
	margin-left: 15px;
	overflow: hidden;
	padding-bottom: 2px;
	padding-left: 15px;
	text-transform: uppercase;
	max-width: 176px;
	height: 30px;	
	}

ul.feat-trend-list li.trend-item a {
	font-size: 12px;
	font-weight: 700;
	line-height: 15px;
	}

ul.feat-trend-list li.trend-item:first-child {
	border-left: none;
	margin-left: 0;
	padding-left: 0;
	}

.feat-main-out {
	float: left;
	margin-right: -315px;
	width: 100%;
	}

.feat-main-in {
	margin-right: 315px;
	}

#feat-main1 {
	width: 100%;
	}

#feat-main-wrap {
	overflow: hidden;
	width: 100%;
	}

.feat-main-top-wrap {
	width: 100%;
	}

.feat-main-top {
	margin-bottom: 15px;
	overflow: hidden;
	width: 100%;
	height: 430px;
	}

.feat-main-top:first-child + .feat-main-top {
	display: none;
	}

.feat-main-top-img,
.feat-main-sub-img,
.feat-main2-img {
	background: #333;
	line-height: 0;
	width: 100%;
	height: 100%;
	}

.feat-main-top-img img,
.feat-main-sub-img img,
.feat-main2-img img {
	margin: 0 auto;
	position: absolute;
		left: -9999px;
		right: -9999px;
	width: 100%;
	}

.feat-main-top:hover .feat-main-top-img img,
.feat-main-sub:hover .feat-main-sub-img img {
	opacity: 0.8;
	}

.feat-main-top-img img {
	margin-top: -5%;
	min-width: 1000px;
	}

.feat-main-top-text,
.feat-main-sub-text {
	background-image: -moz-linear-gradient(to bottom,rgba(51,51,51,0) 0, rgba(51,51,51,0.4) 50%, rgba(51,51,51,0.6) 100%);
	background-image: -ms-linear-gradient(to bottom,rgba(51,51,51,0) 0, rgba(51,51,51,0.4) 50%, rgba(51,51,51,0.6) 100%);
	background-image: -o-linear-gradient(to bottom,rgba(51,51,51,0) 0, rgba(51,51,51,0.4) 50%, rgba(51,51,51,0.6) 100%);
	background-image: -webkit-linear-gradient(to bottom,rgba(51,51,51,0) 0, rgba(51,51,51,0.4) 50%, rgba(51,51,51,0.6) 100%);
	background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(51,51,51,0)), to(rgba(51,51,51,0.6)));
	background-image: linear-gradient(to bottom,rgba(51,51,51,0) 0, rgba(51,51,51,0.4) 50%, rgba(51,51,51,0.6) 100%);
	position: absolute;
		left: 0;
		bottom: 0;
	text-align: center;
	}

.feat-main-top-text {
	padding: 50px 1.43815915628% 15px; /* 15px / 1043px */
	width: 97.13%; /* 1013px / 1043px */
	}

.feat-main-top-text h2,
.feat-main-sub-text h2,
.feat-wide-text h2,
.feat-main2-text h2 {
	color: #fff;
	display: inline-block;
	font-weight: 400;
	letter-spacing: 2px;
	line-height: 120%;
	text-transform: uppercase;
	width: 100%;
	}

.feat-main-top-text h2,
.feat-wide-text h2 {
	font-size: 4.1rem;
	-webkit-text-shadow: 0 0 30px rgba(51,51,51,.8);
	   -moz-text-shadow: 0 0 30px rgba(51,51,51,.8);
	    -ms-text-shadow: 0 0 30px rgba(51,51,51,.8);
	     -o-text-shadow: 0 0 30px rgba(51,51,51,.8);
		text-shadow: 0 0 30px rgba(51,51,51,.8);
	}

.feat-main-top-text p,
.feat-wide-text p,
.feat-main2-text p {
	color: #eee;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 140%;
	width: 100%;
	}

.feat-gallery,
.feat-video {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	    -ms-border-radius: 50%;
	     -o-border-radius: 50%;
		border-radius: 50%;
	color: #fff;
	opacity: .85;
	position: absolute;
		top: 15px;
		left: 15px;
	width: 50px;
	height: 50px;
	z-index: 6;
	}

.feat-gallery i,
.feat-video i {
	font-size: 20px;
	position: absolute;
		top: 15px;
		left: 15px;
	}

.feat-sub-out {
	float: left;
	margin-right: -315px;
	width: 100%;
	}

.feat-sub-in {
	margin-right: 315px;
	}

.feat-ad-wrap {
	background: #eee;
	line-height: 0;
	margin-left: 15px;
	overflow: hidden;
	text-align: center;
	width: 300px;
	height: 250px;
	}

.feat-sub-wrap {
	width: 100%;
	}

.feat-main-sub {
	overflow: hidden;
	margin-left: 2.14899713467%; /* 15px / 698px */
	width: 48.9255014327%; /* 341.5px / 698px */
	height: 250px;
	}

.feat-main-sub:first-child {
	margin-left: 0;
	}

.feat-main-sub-img img {
	min-width: 420px;
	}

.feat-main-sub-text {
	padding: 50px 4.05405405405% 15px; /* 15px / 370px */
	width: 91.9%; /* 340px / 370px */
	}

.feat-main-sub-text h2,
.feat-main-top-text h2.standard-headline {
	font-size: 2rem;
	}

.feat-main-sub-text p {
	display: none;
	font-size: 1.2rem;
	}

.feat-mobi {
	display: none;
	width: 100%;
	}

.head-latest-mobi {
	display: none;
	padding-top: 15px;
	width: 100%;
	}

#feat-main2 {
	overflow: hidden;
	width: 100%;
	height: 100%;
	max-height: 900px;
	}

.feat-main2-img {
	background: #333;
	line-height: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	max-height: 900px;
	}

.feat-main2-img img {
	opacity: .8;
	width: 100%;
	min-width: 1500px;
	}

.feat-main2-nav {
	background-image: -moz-linear-gradient(to top,rgba(51,51,51,0) 0, rgba(51,51,51,0.15) 50%, rgba(51,51,51,0.3) 100%);
	background-image: -ms-linear-gradient(to top,rgba(51,51,51,0) 0, rgba(51,51,51,0.15) 50%, rgba(51,51,51,0.3) 100%);
	background-image: -o-linear-gradient(to top,rgba(51,51,51,0) 0, rgba(51,51,51,0.15) 50%, rgba(51,51,51,0.3) 100%);
	background-image: -webkit-linear-gradient(to top,rgba(51,51,51,0) 0, rgba(51,51,51,0.15) 50%, rgba(51,51,51,0.3) 100%);
	background-image: -webkit-gradient(linear, center bottom, center top, from(rgba(51,51,51,0)), to(rgba(51,51,51,0.3)));
	background-image: linear-gradient(to top,rgba(51,51,51,0) 0, rgba(51,51,51,0.15) 50%, rgba(51,51,51,0.3) 100%);
	position: absolute;
		top: 0;
		left: 0;
	width: 100%;
	}

.feat-logo-wrap {
	line-height: 0;
	margin: 15px 30px 0 0;
	text-align: center;
	width: 420px;
	}

.feat-nav-right {
	width: 100%;
	}

.feat-main2-nav ul.feat-trend-list li.trend-head {
	color: #eee;
	}

.feat-main2-nav ul.feat-trend-list li.trend-item a {
	color: #fff;
	}

.feat-main2-text {
	background-image: -moz-linear-gradient(to bottom,rgba(51,51,51,0) 0, rgba(51,51,51,0.4) 50%, rgba(51,51,51,0.6) 100%);
	background-image: -ms-linear-gradient(to bottom,rgba(51,51,51,0) 0, rgba(51,51,51,0.4) 50%, rgba(51,51,51,0.6) 100%);
	background-image: -o-linear-gradient(to bottom,rgba(51,51,51,0) 0, rgba(51,51,51,0.4) 50%, rgba(51,51,51,0.6) 100%);
	background-image: -webkit-linear-gradient(to bottom,rgba(51,51,51,0) 0, rgba(51,51,51,0.4) 50%, rgba(51,51,51,0.6) 100%);
	background-image: -webkit-gradient(linear, center top, center bottom, from(rgba(51,51,51,0)), to(rgba(51,51,51,0.6)));
	background-image: linear-gradient(to bottom,rgba(51,51,51,0) 0, rgba(51,51,51,0.4) 50%, rgba(51,51,51,0.6) 100%);
	padding: 50px 0 30px;
	position: absolute;
		bottom: 0;
		left: 0;
	text-align: center;
	width: 100%;
	}

.feat-main2-text h2 {
	font-size: 5rem;
	margin-bottom: 5px;
	-webkit-text-shadow: 0 0 30px rgba(51,51,51,.8);
	   -moz-text-shadow: 0 0 30px rgba(51,51,51,.8);
	    -ms-text-shadow: 0 0 30px rgba(51,51,51,.8);
	     -o-text-shadow: 0 0 30px rgba(51,51,51,.8);
		text-shadow: 0 0 30px rgba(51,51,51,.8);
	}

.feat-sub2-wrap {
	margin-top: 30px;
	width: 100%;
	}

.feat-sub2 {
	margin-left: 2.05058099795%; /* 30px / 1463px */
	width: 23.4620642515%; /* 343.25px / 1463px */
	height: 90px;	
	}

.feat-sub2:first-child {
	margin-left: 0;
	}

.feat-sub2-out {
	float: right;
	margin-left: -165px;
	width: 100%;
	}

.feat-sub2-in {
	margin-left: 165px;
	}

.feat-sub2-img {
	background: #000;
	line-height: 0;
	margin-right: 15px;
	width: 150px;
	}

.feat-sub2:hover .feat-sub2-img img {
	opacity: .8;
	}

.feat-sub2-text {
	margin: 10px 0;
	overflow: hidden;
	text-align: left;
	width: 100%;
	height: 70px;
	}

.feat-sub2-text a {
	color: #eee !important;
	font-size: .75rem;
	font-weight: 700;
	line-height: 140%;
	text-transform: uppercase;
	}

.feat-sub2:hover .feat-sub2-text a,
.feat-main2-text h2:hover,
.feat-main2-nav ul.feat-trend-list li.trend-item a:hover {
	color: #ccc !important;
	}

/************************************************
	Homepage
************************************************/

.sec-marg-out,
.sec-marg-out2,
.sec-marg-out4 {
	float: right;
	margin-left: -60px;
	right: 30px;
	width: 100%;
	}

.sec-marg-in,
.sec-marg-in2,
.sec-marg-in4 {
	margin-left: 60px;
	}

#sidebar-wrap .sec-marg-out,
#sidebar-wrap .sec-marg-in,
#content-wrap .sec-marg-out,
#content-wrap .sec-marg-in,
#foot-top .sec-marg-out,
#foot-top .sec-marg-in {
	margin-left: 0;
	right: 0;
	}

#main-content-contain {
	width: 100%;
	}

h3.home-widget-head {
	color: #bbb;
	font-size: 2.2rem;
	font-style: italic;
	font-weight: 700;
	line-height: 100%;
	margin-bottom: 30px;
	text-align: center;
	width: 100%;
	}

.home-widget-wrap {
	float: left;
	margin-bottom: 60px;
	position: relative;
	width: 100%;
	}

.home-widget-wrap:last-child {
	border-bottom: none;
	padding-bottom: 0;
	}

.horz-list-wrap {
	overflow: hidden;
	width: 100%;
	max-height: 175px;
	}

.horz-list-head {
	width: 20%;
	height: 115px;
	}

.horz-list-head h3 {
	color: #fff;
	float: right;
	font-size: 2.4rem;
	font-style: italic;
	font-weight: 400;
	line-height: 110%;
	padding: 10px 5%; /*15px / 293px */
	text-align: right;
	width: 50%;
	}

.horz-list-head:before {
	content: '';
	border-color: transparent transparent transparent #fff;
	border-style: solid;
	border-width: 0 0 115px 35px;
	position: absolute;
		top: 0;
		left: 0;
	}

.horz-list-head:after {
	content: '';
	border-style: solid;
	border-width: 0 0 115px 35px;
	position: absolute;
		top: 0;
		right: -35px;
	z-index: 5;
	}

ul.horz-list {
	margin-bottom: -30px;
	width: 80%;
	}

.single ul.horz-list {
	width: 100%;
	}

ul.horz-list li {
	float: left;
	margin-bottom: 30px;
	width: 25%;
	}

.single ul.horz-list li {
	width: 20%;
	}

ul.horz-list li:hover .horz-list-img img {
	opacity: .8;
	}

.horz-list-img {
	background: #000;
	line-height: 0;
	overflow: hidden;
	width: 100%;
	height: 115px;
	}

.horz-list-img img {
	margin-top: -5%;
	}

.horz-list-text {
	padding: 10px 3.333333333333% 0; /* 10px / 300px */
	width: 93.33333333333%; /* 280px / 300px */
	}

.horz-list-text h2 {
	float: left;
	font-size: .75rem;
	font-weight: 700;
	line-height: 130%;
	text-transform: uppercase;
	}

.archive-list-wrap {
	-webkit-backface-visibility: hidden;
	overflow: hidden;
	width: 100%;
	}

.archive-list-out {
	float: left;
	margin-right: -330px;
	width: 100%;
	}

.archive-list-in {
	margin-right: 330px;
	}

.archive-list-left {
	width: 100%;
	}

ul.archive-list {
	float: left;
	width: 100%;
	}

ul.archive-list li {
	background: #fff;
	border-top: 1px solid #ddd;
	float: left;
	margin-top: 30px;
	padding-top: 30px;
	position: relative;
	width: 100%;
	}

ul.archive-list li:first-child {
	border-top: none;
	margin-top: 0;
	padding-top: 0;
	}

.archive-list-img {
	background: #000;
	line-height: 0;
	margin-right: 2.64783759929%; /* 30px / 1133px */
	overflow: hidden;
	width: 35.3045013239%; /* 400px / 1133px */
	max-height: 240px;
	}

.archive-list-img img {
	width: 100%;
	}

.archive-list-img:hover img {
	opacity: .8;
	}

.archive-list-text {
	width: 62.0476610768%; /* 803px / 1133px */
	}

.archive-list-text a {
	float: left;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 130%;
	margin-bottom: 10px;
	text-transform: uppercase;
	width: 100%;
	}

.archive-list-text p {
	color: #777;
	font-size: 1.1rem;
	line-height: 140%;
	margin-bottom: 15px;
	}

.archive-list-info {
	width: 100%;
	}

.archive-list-info span {
	border-left: 1px solid #ddd;
	color: #222;
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.75rem;
	font-weight: 400;
	letter-spacing: .5px;
	line-height: 100%;
	margin-left: 10px;
	padding-left: 10px;
	text-transform: uppercase;
	}

.archive-list-info span:first-child {
	border-left: none;
	margin-left: 0;
	padding-left: 0;
	}

span.archive-list-cat {
	font-weight: 700;
	}

.archive-list-share {
	overflow: hidden;
	position: absolute;
		left: 0;
		bottom: 0;
	height: 40px;
	}

.archive-list-share span {
	float: left;
	text-align: center;
	width: 40px;
	height: 40px;
	}

span.archive-share-but {
	background: #fff;
	color: #444;
	cursor: pointer;
	font-size: 26px;
	line-height: 100%;
	position: relative;
	text-align: left;
	z-index: 5;
	}

span.archive-share-but i {
	position: absolute;
		left: 5px;
		bottom: 5px;
	}

.archive-share-contain {
	display: inline-block;
	overflow: hidden;
	-webkit-transform: translate3d(-160px,0,0);
	   -moz-transform: translate3d(-160px,0,0);
	    -ms-transform: translate3d(-160px,0,0);
	     -o-transform: translate3d(-160px,0,0);
		transform: translate3d(-160px,0,0);
	-webkit-transition: -webkit-transform .3s ease;
	-webkit-transition: -moz-transform .3s ease;
	-webkit-transition: -ms-transform .3s ease;
	-webkit-transition: -o-transform .3s ease;
		transition: transform .3s ease;
	width: 120px;
	}

.archive-list-share:hover .archive-share-contain {
	-webkit-transform: translate3d(0,0,0);
	   -moz-transform: translate3d(0,0,0);
	    -ms-transform: translate3d(0,0,0);
	     -o-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

.archive-share-contain span i {
	color: #fff;
	font-size: 20px;
	line-height: 100%;
	padding: 10px;
	width: 20px;
	}

span.archive-share-fb {
	background: #3e64ad;
	}

span.archive-share-twit {
	background: #58ccff;
	}

span.archive-share-pin {
	background: #de010d;
	}

.archive-ad-wrap {
	float: right;
	line-height: 0;
	margin-left: 30px;
	text-align: center;
	width: 300px;
	}

ul.archive-col {
	float: left;
	margin-left: -2.64783759929%; /* 30px / 1133px */
	width: 102.647837599%; /* 1163px / 1133px */
	}

ul.archive-col li {
	background: #fff;
	float: left;
	margin: 0 0 30px 2.57953568358%; /* 30px / 1163px */
	position: relative;
	width: 30.7537976498%; /* 357.666px / 1163px */
	height: 450px;
	}

ul.archive-col li .archive-list-img,
ul.archive-col li .archive-list-text {
	width: 100%;
	}

ul.archive-col li .archive-list-img {
	margin-bottom: 20px;
	}

ul.archive-col li .archive-list-text a {
	font-size: 1.1rem;
	}

ul.archive-col li .archive-list-info {
	margin-bottom: 15px;
	}

.feat-wide-wrap {
	width: 100%;
	}

.feat-wide-img {
	background: #000;
	overflow: hidden;
	width: 100%;
	height: 550px;
	}

.feat-wide-img img {
	margin-top: -5%;
	opacity: 0.8;
	width: 100%;
	}

.feat-wide-wrap:hover .feat-wide-img img {
	opacity: .6;
	}

.feat-wide-text {
	padding: 50px 1.02529049897% 15px; /* 15px / 1463px */
	position: absolute;
		left: 0;
		bottom: 0;
	text-align: center;
	width: 97.9494190021%; /* 1433px / 1463px */
	}

.widget-ad {
	background: #eee;
	line-height: 0;
	overflow: hidden;
	text-align: center;
	width: 100%;
	}

/************************************************
	Posts
************************************************/

#top-posts-wrap {
	width: 100%;
	}

.woocommerce #top-posts-wrap {
	display: none;
	}

#content-wrap {
	margin-bottom: 30px;
	width: 100%;
	}

#post-header {
	margin-bottom: 30px;
	width: 100%;
	}

.post-info-top {
	margin-bottom: 15px;
	width: 100%;
	}

.post-info-top span {
	color: #999;
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-size: .85rem;
	font-weight: 700;
	line-height: 100%;
	margin-left: 30px;
	text-transform: uppercase;
	}

.post-info-top span:first-child {
	margin-left: 0;
	}

h1.post-title {
	color: #333;
	font-size: 2.9rem;
	font-weight: 700;
	line-height: 120%;
	margin-bottom: 10px;
	width: 100%;
	}

span.post-excerpt p {
	color: #777;
	float: left;
	font-size: 1.4rem;
	font-style: italic;
	font-weight: 400;
	line-height: 140%;
	width: 100%;
	}

#post-area {
	width: 100%;
	}

.post-body-out {
	float: right;
	margin-left: -200px;
	width: 100%;
	}

.post-body-in {
	margin-left: 200px;
	overflow: hidden;
	}

.post-info-left {
	margin-right: 30px;
	padding-top: 280px;
	width: 170px;
	}

.attachment .post-info-left {
	padding-top: 0;
	}

.post-info-left-top {
	margin-top: -280px;
	width: 100%;
	height: 0;
	}

.attachment .post-info-left-top {
	margin-top: 0;
	}

h2.author-list-head {
	color: #333;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 120%;
	margin-bottom: 10px;
	width: 100%;
	}

.author-info {
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
	padding-bottom: 15px;
	width: 100%;
	}

.author-img {
	margin-bottom: 15px;
	text-align: center;
	width: 100%;
	}

.author-img img {
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	    -ms-border-radius: 50%;
	     -o-border-radius: 50%;
		border-radius: 50%;
	}

span.author-name {
	color: #aaa;
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-size: .8rem;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	}

span.author-name a {
	font-weight: 700;
	}

.post-info-left-bot {
	width: 100%;
	}

.post-soc-count {
	width: 100%;
	}

.post-soc-count span {
	float: left;
	text-align: center;
	width: 100%;
	}

span.soc-count-num {
	color: #222;
	font-family: 'Monsterrat', sans-serif;
	font-size: 3rem;
	font-weight: 700;
	line-height: 100%;
	}

span.soc-count-text {
	color: #777;
	font-family: 'Open Sans', sans-serif;
	font-size: .9rem;
	font-weight: 400;
	line-height: 100%;
	text-transform: uppercase;
	}

.soc-count-mobi {
	display: none;
	overflow: hidden;
	}

.post-soc-share {
	width: 100%;
	}

.post-soc-fb,
.post-soc-twit,
.post-soc-pin {
	margin-bottom: 10px;
	overflow: hidden;
	width: 100%;
	height: 30px;
	}

.post-soc-fb i,
.post-soc-twit i,
.post-soc-pin i {
	background: rgba(255,255,255, .15);
	float: left;
	font-size: 16px;
	line-height: 100%;
	padding: 7px 10px;
	text-align: center;
	width: 20px;
	}

span.post-share-text {
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-weight: 700;
	margin-left: 15px;
	padding: 9px 0;
	text-transform: uppercase;
	}

.prev-next-posts {
	margin-top: 20px;
	width: 100%;
	}

.prev-next-item {
	float: left;
	margin-bottom: 15px;
	position: relative;
	width: 100%;
	}

span.prev-next-head {
	background: #fff;
	color: #222;
	font-family: 'Open Sans', sans-serif;
	font-size: .75rem;
	font-weight: 700;
	padding: 5px 15px;
	position: absolute;
		top: 0;
		left: 0;
	}

.prev-next-img {
	background: #000;
	line-height: 0;
	margin-bottom: 5px;
	width: 100%;
	}

.prev-next-img img {
	-webkit-transition: all .3s;
		transition: all .3s;
	}

.prev-next-item:hover .prev-next-img img {
	opacity: .8;
	}

.prev-next-text {
	float: left;
	font-size: .75rem;
	font-weight: 700;
	line-height: 140%;
	text-transform: uppercase;
	-webkit-transition: all .3s;
		transition: all .3s;
	width: 100%;
	}

#content-area {
	width: 100%;
	}

.content-area-cont {
	width: 100%;
	}

.content-area-out {
	float: left;
	margin-right: -330px;
	width: 100%;
	}

.content-area-in {
	margin-right: 330px;
	}

.content-main {
	width: 100%;
	}

#feat-img-wide {
	line-height: 0;
	margin-bottom: -30px;
	overflow: hidden;
	width: 100%;
	}

#feat-img-wide #featured-image {
	max-height: 840px;
	}

#featured-image {
	line-height: 0;
	margin-bottom: 30px;
	overflow: hidden;
	width: 100%;
	}

.prim-feat {
	display: block;
	}

.sec-feat {
	display: none;
	}

#featured-image img {
	width: 100%;
	}

#featured-caption {
	background: rgba(0,0,0,.3);
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: .7rem;
	font-weight: 400;
	line-height: 130%;
	overflow: hidden;
	padding: 5px 10px;
	position: absolute;
		bottom: 0;
		right: 0;
	text-transform: uppercase;
	}

#video-embed {
	overflow: hidden;
	margin-bottom: 30px;
	padding-bottom: 56.25%;
	text-align: center;
	width: 100%;
	height: 0;
	}

#video-embed iframe,
#video-embed object,
#video-embed embed {
	position: absolute;
		top: 0;
		left: 0;
	width: 100%;
	height: 100%;
	}

.content-main {
	color: #555;
	display: block;
	font-size: 1.1rem;
	line-height: 160%;
	}

.content-main p {
	margin-bottom: 20px;
	}

.content-main ul {
	list-style: disc outside;
	margin: 10px 0;
	}

.content-main ol {
	list-style: decimal outside;
	margin: 10px 0;
	}

.content-main ul li,
.content-main ol li {
	margin-left: 50px;
	padding: 5px 0px;
	}

.content-main h1,
.content-main h2,
.content-main h3,
.content-main h4,
.content-main h5,
.content-main h6 {
	font-weight: 700;
	line-height: 120%;
	margin: 10px 0;
	overflow: hidden;
	text-transform: uppercase;
	width: 100%;
	}

.content-main h1 {
	font-size: 1.6rem;
	}

.content-main h2 {
	font-size: 1.4rem;
	}

.content-main h3 {
	font-size: 1.2rem;
	}

.content-main h4 {
	font-size: 1rem;
	}

.content-main h5 {
	font-size: .8rem;
	}

.content-main h6 {
	font-size: .6rem;
	}

.content-main blockquote p {
	color: #555;
	font-size: 1.7rem;
	font-weight: 700;
	line-height: 130%;
	margin: 30px 10%;
	width: 80%;
	}

.content-main blockquote p cite {
	color: #555;
	display: inline-block;
	font-size: .7rem;
	font-weight: 400;
	}

.post-tags {
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-size: .85rem;
	font-weight: 700;
	line-height: 100%;
	margin-bottom: 20px;
	width: 100%;
	}

.post-tags span:first-child {
	padding-left: 0;
	}

.post-tags a,
span.post-tags-header {
	display: inline-block;
	float: left;
	margin: 0 2px 2px 0;
	padding: 6px 10px;
	text-transform: uppercase;
	}

.post-tags a {
	color: #999;
	}

.post-tags a:visited {
	color: #999;
	}

.post-tags a:hover {
	text-decoration: none;
	}

#article-ad {
	line-height: 0;
	overflow: hidden;
	margin: 30px 0;
	position: relative;
	text-align: center;
	width: 100%;
	}

.content-bot-wrap {
	margin-bottom: 30px;
	width: 100%;
	}

.theiaPostSlider_nav {
	clear: both;
	font-family: 'Open Sans', sans-serif;
	}

.wp-caption, .gallery-caption {
	margin-bottom: 20px;
	max-width: 100%;
	text-align: center;
	}

.content-main p.wp-caption-text {
	border-bottom: 1px solid #ddd;
	font-family: 'Open Sans', sans-serif;
	font-size: .8em;
	font-style: italic;
	padding-bottom: 5px;
	}

.sticky {
	}

.bypostauthor {
	}

.posts-nav-link {
	display: none;
	}

.content-main dt {
	font-weight: bold;
	}

.content-main dd {
	margin-left: 20px;
	}

.content-main abbr,
.content-main acronym {
	font-weight: bold;
	text-transform: uppercase;
	}

.content-main code {
	font-size: 1.1rem;
	}

.content-main sub {
	font-size: smaller;
	vertical-align: sub;
	}

.content-main sup {
	font-size: smaller;
	vertical-align: super;
	}

.content-main table {
	font-family: 'Open Sans', sans-serif;
	font-size: .9rem;
	}

.content-main td,
.content-main th {
	padding: 0 1.5%;
	}

.content-main tr.odd {
	background: #eee;
	}

/************************************************
	Sidebar
************************************************/

#sidebar-wrap {
	float: right;
	margin-left: 30px;
	width: 300px;
	}

.sidebar-widget {
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin-top: 30px;
	position: relative;
	width: 100%;
	}

.sidebar-widget:first-child {
	margin-top: 0;
	}

/************************************************
	Comments
************************************************/

#comments-button {
	margin-bottom: 15px;
	text-align: center;
	width: 100%;
	}

span.comment-but-text {
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: .85rem;
	font-weight: 800;
	line-height: 100%;
	opacity: 1.0;
	padding: 15px 0;
	text-transform: uppercase;
	width: 70%;
	}

span.comment-but-text i {
	margin-right: 10px;
	}

span.comment-but-text:hover {
	opacity: 0.7;
	}

h4.post-header {
	float: left;
	margin-bottom: 30px;
	position: relative;
	text-align: center;
	width: 100%;
	}

span.post-header {
	color: #fff;
	display: inline-block;
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 100%;
	padding: 7px 25px;
	position: relative;
	text-transform: uppercase;
	}

span.post-header:after {
	content: '';
	border-style: solid;
	border-width: 10px 10px 0 10px;
	margin-left: -10px;
	position: absolute;
		left: 50%;
		bottom: -10px;
	}

h3.comment-header {
	color: #fff;
	float: left;
	font: 400 12px/12px 'Oswald', sans-serif;
	margin: 0 0 20px 20px;
	padding: 5px 7px;
	position: relative;
	text-transform: uppercase;
	}

#comments {
	float: left;
	font-size: .8rem;
	line-height: 120%;
	overflow: hidden;
	width: 100%;
	}

.comment-inner {
	border-bottom: 1px dotted #ddd;
	margin-bottom: 10px;
	padding: 10px 0 0;
	}

#comments .comment-inner:after {
	content: '';
	display: block;
	clear: both;
	}

#comments .comment-avatar,
#tab3 .comment-avatar {
	float: left;
	width: 46px;
	}
	
#comments .avatar {
	display: block;
	background-color: #fff;
	}

.comment-avatar img {
	-webkit-border-radius: 23px;
	   -moz-border-radius: 23px;
	    -ms-border-radius: 23px;
	     -o-border-radius: 23px;
		border-radius: 23px;
	overflow: hidden;
	}

#comments .commentmeta {
	display: block;
	float: left;
	margin: 0 10px 10px;
	}

.comment-reply a,
#cancel-comment-reply-link {
	clear: both;
	color: #fff;
	font: 700 10px/100% 'Open Sans', sans-serif;
	padding: 5px 10px;
	text-transform: uppercase;
	}

.comment-reply a {
	float: right;
	}

#cancel-comment-reply-link {
	background: #999;
	float: left;
	margin: 0 0 10px 20px;
	}

.comment-reply a:hover,
#cancel-comment-reply-link:hover {
	background: #333;
	color: #fff;
	text-decoration: none;
	}

.content-main ol.commentlist {
	float: left;
	list-style: none;
	margin: 0;
	width: 100%;
	}

.content-main ol.commentlist li {
	margin: 0;
	padding: 0;
	}

ol.commentlist h3.comment-header {
	display: none;
	}

ol.commentlist #respond {
	border-top: none;
	}

#comments .comment-meta-1 {
	display: block;
	float: left;
	font: bold 14px/normal helvetica, arial, sans-serif;
	margin-bottom: 5px;
	width: 100%;
	}
		
#comments .comment-meta-1 .fn {
	float: left;
	font-style: normal;
	font-weight: bold;
	width: auto;
	}
		
#comments .comment-meta-1 .reply {
	display: inline-block;
	float: right;
	font-size: 11px;
	line-height: 11px;
	padding-top: 2px;
	}
		
#comments .comment-meta-1 .reply a {
	color: #555;
	}
		
#comments .comment-meta-2  {
	float: left;
	font: 12px/normal helvetica, arial, sans-serif;
	display: block;
	margin: 0;
	}

#comments .text {
	clear: both;
	display: block;
	float: left;
	margin-top: 10px;
	}

#comments .text .waiting_approval {
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	}

#comments .c {
	line-height: 20px;
	}

#comments .c p,
#comments .c code,
#comments .c blockquote,
#comments .c ul,
#comments .c ol {
	display: block;
	margin: 5px 0;
	}

#comments .c p {
	font-size: 1rem;
	}

#comments .c a {
	text-decoration: underline;
	}

#comments .c a:hover {
	text-decoration: none;
	}
	
#comments .depth-2 .comment-wrapper {
	padding-left: 40px;
	}

#comments .depth-2 .commentmeta {
	width: auto;
	}
	
#comments .depth-3 .comment-wrapper {
	padding-left: 80px;
	}

#comments .depth-3 .commentmeta {
	width: auto;
	}
	
#comments .depth-4 .comment-wrapper {
	padding-left: 120px;
	}

#comments .depth-4 .commentmeta {
	width: auto;
	}

#comments .depth-5 .comment-wrapper {
	padding-left: 160px;
	}

#comments .depth-5 .commentmeta {
	width: auto;
	}

#respond {
	clear: both;
	position: relative;
	}

#respond form {
	float: left;
	padding-bottom: 20px;
	width: 100%;
	}

#respond p {
	font: 12px/normal helvetica, arial, sans-serif;
	margin: 0;
	}

#respond .logged-in-as {
	margin-bottom: 10px;
	}

#respond .comment-notes {
	margin-bottom: 1rem;
	}

.children #respond {
	margin: 0 48px 0 0;
	}

#comments-list #respond {
	margin: 0 0 18px 0;
	}

#comments-list ul #respond {
	margin: 0;
	}

#respond .required {
	color: #ff4b33;
	font-weight: bold;
	}

#respond label {
	color: #888;
	font-size: 12px;
	}
	
#respond input {
	background: #f6f6f6;
	border: 1px solid #ddd;
		-ms-box-shadow: 2px 2px 5px 0px #eee inset;
		-moz-box-shadow: 2px 2px 5px 0px #eee inset;
		-webkit-box-shadow: 2px 2px 5px 0px #eee inset;
		-o-box-shadow: 2px 2px 5px 0px #eee inset;
	box-shadow: 2px 2px 5px 0px #eee inset;
	display:block;
	margin: 0 0 9px;
	padding:5px;
	width: auto;
	}

#respond textarea {
	background: #f6f6f6;
	border: 1px solid #ddd;
		-ms-box-shadow: 2px 2px 5px 0px #eee inset;
		-moz-box-shadow: 2px 2px 5px 0px #eee inset;
		-webkit-box-shadow: 2px 2px 5px 0px #eee inset;
		-o-box-shadow: 2px 2px 5px 0px #eee inset;
	box-shadow: 2px 2px 5px 0px #eee inset;
	width: 99%;
	}
	
#respond #submit {
	background: #555;
	border: 0;
	box-shadow: none;
	color: #fff;
	cursor:pointer;
	font: 700 12px/100% 'Open Sans', sans-serif;
	margin-top:10px;
	padding: 5px 10px;
	width: 120px;
	}

#respond #submit:hover {
	background: #333;
	}

h3#reply-title,
h2.comments {
	color: #fff;
	font: 700 14px/100% 'Oswald', sans-serif;
	margin-bottom: 10px;
	padding: 5px 10px;
	text-shadow: 1px 1px 0 #000;
	text-transform: uppercase;
	}

h3#reply-title {
	display: none;
	}

span.comments {
	background: #fff;
	color: #aaa;
	float: left;
	font-size: 20px;
	line-height: 100%;
	padding-right: 15px;
	text-transform: uppercase;
	}

span.comments a {
	color: #666;
	}

span.comments a:hover {
	color: #f00;
	text-decoration: none;
	}

#comment-input label {
	margin-bottom: 10px;
	}

p.cancel-comment-reply {
	clear: both;
	}

p.form-allowed-tags {
	display: none;
	}

.fb-comments,
.fb-comments span {
	width: 100% !important;
	}

/************************************************
	Archives
************************************************/

#head-arch-top {
	width: 100%;
	}

h1.cat-head,
span.cat-head-mobi {
	color: #bbb;
	font-size: 2.2rem;
	font-style: italic;
	font-weight: 700;
	line-height: 100%;
	margin-bottom: 30px;
	text-align: center;
	width: 100%;
	}

span.cat-head-mobi {
	display: none;
	margin: 15px 0;
	}

.tag h1.cat-head,
.search h1.cat-head {
	font-style: normal;
	margin-top: 0;
	}

#author-page-box {
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
	padding-bottom: 30px;
	width: 100%;
	}

.author-page-out {
	float: right;
	margin-left: -150px;
	width: 100%;
	}

.author-page-in {
	margin-left: 150px;
	}

.author-page-img {
	line-height: 0;
	margin-right: 30px;
	width: 120px;
	}

.author-page-img {
	overflow: hidden;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	    -ms-border-radius: 50%;
	     -o-border-radius: 50%;
		border-radius: 50%;
	}

.author-page-text {
	width: 100%;
	}

.author-page-text h1.cat-head {
	font-size: 2.2rem;
	margin-bottom: 15px;
	text-align: left;
	}

.author-page-text p {
	color: #777;
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 140%;
	margin-bottom: 15px;
	}

ul.author-social {
	width: 100%;
	}

ul.author-social li {
	float: left;
	margin-left: 10px;
	width: 24px;
	}

ul.author-social li:first-child {
	margin-left: 0;
	}

ul.author-social li a {
	color: #aaa;
	}

ul.author-social li i {
	font-size: 24px;
	}

#post-404 {
	color: #aaa;
	font-size: 1.3rem;
	line-height: 140%;
	margin: 150px 0 200px;
	text-align: center;
	width: 100%;
	}

#post-404 h1 {
	color: #222;
	font-size: 4em;
	font-weight: 900;
	line-height: 100%;
	margin-bottom: 20px;
	}

#bbpress-forums,
#bbpress-forums p {
	font-family: helvetica, arial, sans-serif;
	}

#bbpress-forums ol,
#bbpress-forums ul {
	list-style: none;
	margin: 0;
	}

#bbpress-forums ul li,
#bbpress-forums ol li {
	margin-left: 0;
	padding: 0;
	}

.bbpress .post-info-left,
.woocommerce-page .post-info-left {
	display: none;
	}

.bbpress .post-body-out,
.bbpress .post-body-in,
.woocommerce-page .post-body-out,
.woocommerce-page .post-body-in {
	margin-left: 0;
	}

#subscription-toggle {
	float: left;
	margin: 7px 0 0 10px;
	}

/************************************************
	WooCommerce
************************************************/

#woo-content {
	float: left;
	position: relative;
	width: 100%;
	}

#woo-content h1.page-title {
	color: #222;
	font-size: 2.9rem;
	font-weight: 400;
	line-height: 100%;
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	}

#woo-content p {
	font-size: .95rem;
	}

#woo-content .summary p {
	color: #555;
	}

#woo-content .summary p.price {
	color: #222;
	}

.woocommerce div.product .woocommerce-product-rating {
	margin-bottom: 15px;
	}

.woocommerce div.product form.cart {
	margin-top: 15px;
	}

.woocommerce .woocommerce-breadcrumb {
	border-bottom: 1px solid #ddd;
	font-family: 'Open Sans', sans-serif;
	font-size: .8rem;
	line-height: 100%;
	margin-bottom: 30px;
	padding-bottom: 15px;
	}

.woocommerce div.product .product_title {
	font-size: 1.7rem;
	font-weight: 400;
	line-height: 140%;
	margin-bottom: 15px;
	text-transform: uppercase;
	}

.woocommerce div.product p.price {
	margin-bottom: 15px;
	}

.woocommerce div.product p.price del,
.woocommerce div.product span.price del,
.woocommerce ul.products li.product .price del {
	display: inline-block;
	margin-right: 10px;
	}

.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins,
.woocommerce ul.products li.product .price ins,
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price {
	color: #222;
	text-decoration: none;
	}

.woocommerce div.product p.price,
.woocommerce div.product p.price ins,
.woocommerce div.product p.price del {
	font-size: 1.2rem;
	font-family: 'Open Sans', sans-serif;
	}

.woocommerce ul.products li.product .price del,
.woocommerce ul.products li.product .price ins,
.woocommerce ul.products li.product .price {
	font-size: .9rem;
	font-family: 'Open Sans', sans-serif;
	}

.woocommerce ul.products li.product .price,
.woocommerce div.product p.price {
	font-weight: 700;
	}

.woocommerce div.product {
	overflow: hidden;
	}

.woocommerce .quantity .qty {
	height: 23px;
	}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
	opacity: .8;
	}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce .widget_price_filter .price_slider_amount .button {
	font-family: 'Open Sans', sans-serif;
	font-size: .7rem;
	font-weight: 700;
	letter-spacing: .2rem;
	line-height: 100%;
	padding: 9px 25px;
	text-transform: uppercase;
	}

.woocommerce div.product form.cart div.quantity {
	margin-right: 10px;
	}

.woocommerce .product_meta {
	font-family: 'Open Sans', sans-serif;
	font-size: .8rem;
	}

.woocommerce span.onsale {
	border-radius: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	line-height: 100%;
	padding: 30px 35px 8px;
	-webkit-transform: rotate(-45deg);
	   -moz-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	     -o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	top: -10px;
	left: -35px;
	min-width: 0;
	min-height: 0;
	}

.woocommerce ul.products li.product .onsale {
	top: -5px;
	left: -35px;
	right: auto;
	}

.woocommerce ul.products li.product h3 {
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 120%;
	text-transform: uppercase;
	}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	overflow: hidden;
	}

.woocommerce ul.products li.product .add_to_cart_button {
	display: none;
	}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content,
.woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content {
	float: left;
	margin: 10px 0 20px;
	width: 100%;
	}

.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {
	margin-left: 10px;
	width: 60px;
	}

.woocommerce ul.product_list_widget span.product-title,
.woocommerce ul.product_list_widget li a {
	font-size: .75rem;
	margin-bottom: 5px;
	text-transform: uppercase;
	}

.woocommerce ul.product_list_widget li a.remove {
	font-size: 1.5rem;
	}

.woocommerce ul.product_list_widget span.quantity,
.woocommerce ul.product_list_widget span.amount {
	font-size: .8rem;
	text-decoration: none !important;
	}

.woocommerce ul.product_list_widget del {
	margin-right: 5px;
	}

.woocommerce .widget_shopping_cart .total,
.woocommerce.widget_shopping_cart .total {
	border-top: 1px solid #ddd;
	font-size: .9em;
	line-height: 100%;
	margin-top: 10px;
	padding: 10px 0;
	text-align: center;
	}

.woocommerce .sidebar-widget a {
	color: #222;
	}

.woocommerce .sidebar-widget p.buttons a,
.woocommerce .sidebar-widget p.buttons a:hover {
	color: #222;
	}

.widget_shopping_cart_content {
	float: left;
	}

.woocommerce .sidebar-widget select {
	width: 100%;
	}

.woocommerce select,
.woocommerce div.product form.cart .variations select,
.woocommerce-page div.product form.cart .variations select,
.woocommerce #content div.product form.cart .variations select,
.woocommerce-page #content div.product form.cart .variations select,
.woocommerce .woocommerce-ordering select,
.woocommerce-page .woocommerce-ordering select,
.woocommerce form .form-row select,
.woocommerce-page form .form-row select,
.widget_product_categories select#dropdown_product_cat {
	padding: 5px;
	background: #fff;
	border: 1px solid #DDD;
	color: #888;
	font-size: 12px;
	text-transform: uppercase;
	}

.woocommerce .related h2,
.woocommerce div.product .woocommerce-tabs .panel h2 {
	color: #222;
	font-size: 1.3rem;
	font-weight: 700;
	line-height: 100%;
	margin-bottom: 15px;
	position: relative;
	}

.woocommerce .related h2 {
	margin-bottom: 30px;
	}

.woocommerce-review-link {
	font-family: 'Open Sans', sans-serif;
	font-size: .75rem;
	font-weight: 400;
	}

.woocommerce .star-rating {
	margin-bottom: 5px;
	}

.woocommerce .widget_top_rated_products ul.product_list_widget li {
	border-top: 1px solid #ddd;
	margin: 15px 0 0 0;
	padding: 15px 0 0 0;
	}

.woocommerce .widget_top_rated_products ul.product_list_widget li:first-child {
	border-top: none;
	margin: 0;
	padding: 0;
	}

#woo-content p.woocommerce-result-count {
	font-family: 'Open Sans', sans-serif;
	font-size: .8rem;
	font-weight: 400;
	}

.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	box-shadow: none;
	}

.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active:before {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-width: 0;
	box-shadow: none;
	}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	font-family: 'Open Sans', sans-serif;
	font-size: .8rem;
	font-weight: 400;
	}

.woocommerce #content div.product .woocommerce-tabs,
.woocommerce div.product .woocommerce-tabs,
.woocommerce-page #content div.product .woocommerce-tabs,
.woocommerce-page div.product .woocommerce-tabs {
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
	}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
	background: none;
	border: none;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	    -ms-border-radius: 50%;
	     -o-border-radius: 50%;
		border-radius: 50%;
	overflow: hidden;
	}

.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
	font-family: 'Open Sans', sans-serif;
	font-size: .8rem;
	font-weight: 400;
	}

.woocommerce div.product .woocommerce-tabs .panel {
	margin-bottom: 30px;
	}

/************************************************
	Footer
************************************************/

#foot-wrap {
	-webkit-backface-visibility: hidden;
	background-color: #fff;
		background-image: -moz-linear-gradient(to top,rgba(0,0,0,0) 75%, rgba(0,0,0,0.05) 85%, rgba(0,0,0,0.1) 100%);
		background-image: -ms-linear-gradient(to top,rgba(0,0,0,0) 75%, rgba(0,0,0,0.05) 85%, rgba(0,0,0,0.1) 100%);
		background-image: -o-linear-gradient(to top,rgba(0,0,0,0) 75%, rgba(0,0,0,0.05) 85%, rgba(0,0,0,0.1) 100%);
		background-image: -webkit-linear-gradient(to top,rgba(0,0,0,0) 75%, rgba(0,0,0,0.05) 85%, rgba(0,0,0,0.1) 100%);
	background-image: linear-gradient(to top,rgba(0,0,0,0) 75%, rgba(0,0,0,0.05) 85%, rgba(0,0,0,0.1) 100%);
	border-top: 1px solid #ddd;
	padding: 100px 0 30px;
	width: 100%;
	}

#foot-wrap a {
	color: #777;
	}

#foot-top,
#foot-bot {
	width: 100%;
	}

#foot-top {
	margin-bottom: 30px;
	}

h3.foot-head {
	color: #bbb;
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-size: .8rem;
	font-weight: 700;
	letter-spacing: .15rem;
	line-height: 100%;
	margin-bottom: 20px;
	text-transform: uppercase;
	width: 100%;
	}

.foot-widget {
	color: #aaa;
	font-size: .9rem;
	font-weight: 400;
	line-height: 140%;
	margin: 0 0 30px 2.05058099795%; /* 30px / 1463px */
	width: 31.2827523354%; /* 457.66666px / 1463px */
	}

.foot-widget p {
	margin-bottom: 15px;
	}

.foot-widget:first-child {
	margin-left: 0;
	}

.foot-logo {
	line-height: 0;
	margin-bottom: 20px;
	width: 100%;
	}

.foot-info-text {
	margin-bottom: 15px;
	width: 100%;
	}

.foot-soc {
	width: 100%;
	}

ul.foot-soc-list {
	width: 100%;
	}

ul.foot-soc-list li {
	float: left;
	width: 30px;
	}

ul.foot-soc-list li a {
	color: #aaa;
	}

ul.foot-soc-list li i {
	font-size: 20px;
	}

.tag-cloud {
	float: left;
	width: 100%;
	}

.tag-cloud a {
	border: 1px solid #ddd;
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-size: .5rem;
	font-weight: 700;
	line-height: 100%;
	margin: 0 5px 5px 0;
	padding: 5px 7px;
	text-transform: uppercase;
	}

.foot-menu {
	float: right;
	max-width: 49%;
	}

.foot-menu ul.menu {
	float: right;
	width: 100%;
	}

.foot-menu ul.menu li {
	float: left;
	margin-left: 20px;
	}

.foot-menu ul.menu li:first-child {
	margin-left: 0;
	}

.foot-menu ul.menu li a {
	font-size: .7rem;
	font-weight: 700;
	line-height: 100%;
	text-transform: uppercase;
	}

.foot-menu ul.menu li ul {
	display: none;
	}

.foot-copy {
	float: left;
	max-width: 49%;
	}

.foot-copy p {
	color: #aaa;
	font-family: 'Open Sans', sans-serif;
	font-size: .7rem;
	font-weight: 400;
	line-height: 140%;
	}

/************************************************
	Pagination
************************************************/

.nav-links {
	float: left;
	margin-top: 30px;
	position: relative;
	width: 100%;
	}

.pagination {
	clear: both;
	display: inline-block;
	position: relative;
	font-size: .8rem;
	font-weight: 700;
	line-height: 100%;
	padding: 0;
	text-transform: uppercase;
	}
 
.pagination span, .pagination a {
	background: #888;
	color: #fff;
	display: block;
	float: left;
	font-family: 'Open Sans', sans-serif;
	margin: 2px 5px 2px 0;
	padding: 9px 12px 8px;
	text-decoration: none;
	width: auto;
	}
 
.pagination .current, .pagination a:hover {
	background: #aaa;
	color: #fff;
	}

.pagination a,
.pagination a:visited {
	color: #fff
	}

#infscr-loading {
	background: #eee;
	color: #777;
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-size: .9rem;
	font-weight: 700;
	line-height: 100%;
	margin-top: 30px;
	padding: 15px 0;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	}

#infscr-loading img {
	display: none;
	}

#infscr-loading em {
	float: left;
	width: 100%;
	}

.paginate-links {
	display: none;
	}