@media screen and (min-width: 1601px) {

	#site {
		margin: 0 auto;
		position: relative;
		top: auto;
		bottom: auto;
		left: auto;
		right: auto;
		width: 1600px;
		}

	#site-out {
		float: left;
		margin-right: -1600px;
		width: 100%;
		}
		
	#site-in {
		margin-right: 1600px;
		}
	
	#site-fixed {
		width: 1600px;
		}
		
	#main-nav-wrap {
		right: auto;
		}
		
	#content-out,
	#content-in {
		margin-right: 0;
		}

}

@media screen and (max-width: 1500px) and (min-width: 1400px) {

	.feat-main-top-text h2,
	.feat-wide-text h2 {
		font-size: 3.6rem !important;
		}

}

@media screen and (max-width: 1399px) and (min-width: 1250px) {

	.head-left-wrap,
	.feat-logo-wrap {
		width: 300px;
		}
		
	.head-main-out {
		margin-left: -330px;
		}
		
	.head-main-in {
		margin-left: 330px;
		}
		
	.head-latest-wrap {
		height: 610px;
		}
		
	.head-latest-out {
		margin-left: -115px;
		}
		
	.head-latest-in {
		margin-left: 115px;
		}
		
	.head-latest-img {
		width: 100px;
		}
		
	.head-latest-text h2 {
		font-size: .75rem;
		}
		
	.head-latest-text p {
		display: none;
		}
		
	.feat-main-top-text h2,
	.feat-wide-text h2 {
		font-size: 3.6rem !important;
		}
		
	.feat-main-sub {
		margin-left: 2.65957446809%; /* 15px / 564px */
		width: 48.670212766%; /* 274.5px / 564px */
		}
		
	.feat-main-sub-text h2,
	.feat-main-top-text h2.standard-headline {
		font-size: 1.6rem;
		}
		
	.feat-sub2-out {
		margin-left: -135px;
		}
		
	.feat-sub2-in {
		margin-left: 135px;
		}
		
	.feat-main2-img img {
		min-width: 1350px;
		}
		
	.feat-sub2 {
		margin-left: 1.34649910233%; /* 15px / 1114px */
		width: 23.9901256733%; /* 267.25px / 1114px */
		height: 70px;
		}
		
	.feat-sub2-img {
		width: 120px;
		}
		
	.feat-sub2-text {
		margin: 0;
		height: 70px;
		}

}
			
@media screen and (max-width: 1249px) and (min-width: 1100px) {

	.main-nav-out {
		left: 30px;
		margin-right: -120px;
		}

	.main-nav-in {
		margin-right: 120px;
		}

	.head-left-wrap,
	.feat-logo-wrap {
		width: 300px;
		}
		
	.head-main-out {
		margin-left: -330px;
		}
		
	.head-main-in {
		margin-left: 330px;
		}
	
	.head-latest-wrap {
		height: 530px;
		}
		
	.category .head-latest-wrap {
		height: 595px;
		}
		
	.head-left-wrap .head-latest-out {
		margin-left: -115px;
		}
		
	.head-left-wrap .head-latest-in {
		margin-left: 115px;
		}
		
	.head-left-wrap .head-latest-img {
		width: 100px;
		}
		
	.head-latest-text h2 {
		font-size: .75rem;
		}
		
	.head-left-wrap .head-latest-text p,
	.feat-main-sub,
	.prim-feat {
		display: none;
		}
		
	.feat-main-top {
		height: 350px;
		}
		
	.feat-main-top-img img,
	.feat-main-sub-img img {
		margin-top: 0;
		min-width: 590px;
		}
		
	.feat-main-top-text,
	.feat-main-sub-text {
		padding: 50px 4.67289719626% 15px; /* 15px / 321px */
		width: 90.6542056075%; /* 291px / 321px */
		}
		
	.feat-main-top-text h2 {
		font-size: 3.1rem !important;
		}
		
	.feat-main-top-text h2.standard-headline {
		font-size: 1.8rem;
		}
		
	.feat-main-top-text p {
		font-size: 1.3rem;
		}
		
	.feat-mobi {
		display: block;
		}
		
	.feat-mobi ul.head-latest-list {
		margin-bottom: 15px;
		}
		
	.sec-marg-out2,
	.sec-marg-in2 {
		margin-left: 0;
		right: 0;
		}
		
	.horz-list-img img {
		margin-top: 0;
		}
		
	.archive-list-img {
		margin-right: 2.5%;
		width: 47.5%;
		}
		
	.archive-list-text {
		width: 50%;
		}
		
	.archive-list-text p {
		font-size: 1rem;
		}
		
	.feat-wide-img {
		height: 450px;
		}
		
	.feat-wide-text p {
		font-size: 1.4rem;
		}
		
	.sec-feat {
		display: block;
		}
		
	h1.cat-head,
	span.cat-head-mobi {
		font-size: 2.2rem;
		}
		
	.feat-sub2-out {
		margin-left: -135px;
		}
		
	.feat-sub2-in {
		margin-left: 135px;
		}
		
	.feat-main2-img img {
		min-width: 1350px;
		}
		
	.feat-main2-text h2 {
		font-size: 4rem !important;
		}
		
	.feat-main2-text p {
		font-size: 1.5rem;
		}
		
	.feat-sub2 {
		margin-left: 1.34649910233%; /* 15px / 1114px */
		width: 23.9901256733%; /* 267.25px / 1114px */
		height: 70px;
		}
		
	.feat-sub2-img {
		width: 120px;
		}
		
	.feat-sub2-text {
		margin: 0;
		height: 70px;
		}
		
	ul.archive-col {
		margin-left: -4.73933649289%; /* 30px / 633px */
		width: 104.739336493%; /* 663px / 633px */
		}
		
	ul.archive-col li {
		margin: 0 0 30px 4.52488687783%; /* 30px / 663px */
		width: 45.4761131222%; /* 301.5px / 663px */
		}
		
}

@media screen and (max-width: 1099px) and (min-width: 1004px) {
			
	.main-nav-out {
		left: 30px;
		margin-right: -120px;
		}

	.main-nav-in {
		margin-right: 120px;
		}

	.head-left-wrap,
	.feat-logo-wrap {
		width: 300px;
		}
		
	.head-main-out {
		margin-left: -330px;
		}
		
	.head-main-in {
		margin-left: 330px;
		}
		
	.head-latest-wrap {
		height: 755px;
		}
		
	.category .head-latest-wrap {
		height: 820px;
		}
		
	.head-left-wrap .head-latest-out {
		margin-left: -115px;
		}
		
	.head-left-wrap .head-latest-in {
		margin-left: 115px;
		}
		
	.head-left-wrap .head-latest-img {
		width: 100px;
		}
		
	.head-left-wrap .head-latest-text h2 {
		font-size: .75rem;
		}
		
	.head-left-wrap .head-latest-text p,
	.feat-main-sub,
	.archive-list-info,
	.prim-feat,
	.post-soc-share div span:last-child {
		display: none;
		}
		
	.feat-main-top {
		height: 350px;
		}
		
	.feat-main-top-img img,
	.feat-main-sub-img img {
		margin-top: 0;
		min-width: 590px;
		}
		
	.feat-main-top-text,
	.feat-main-sub-text {
		padding: 50px 4.67289719626% 15px; /* 15px / 321px */
		width: 90.6542056075%; /* 291px / 321px */
		}
		
	.feat-main-top-text h2 {
		font-size: 2.7rem !important;
		}
		
	.feat-main-top-text h2.standard-headline {
		font-size: 1.8rem;
		}
		
	.feat-main-top-text p {
		font-size: 1.1rem;
		}
		
	.feat-sub-out,
	.feat-sub-in {
		margin-right: 0;
		}
		
	.feat-mobi {
		display: block;
		}
		
	.feat-mobi ul.head-latest-list {
		margin-bottom: 15px;
		}
		
	.feat-ad-wrap {
		margin-left: 0;
		width: 100%;
		}
		
	.sec-marg-out2,
	.sec-marg-in2 {
		margin-left: 0;
		right: 0;
		}
		
	.horz-list-head {
		width: 20%;
		}
		
	ul.horz-list li {
		width: 33.333333333%;
		}
		
	.archive-list-img {
		margin-right: 3%;
		width: 47%;
		}
		
	.archive-list-text {
		width: 50%;
		}
		
	.archive-list-text a {
		font-size: 1.3rem;
		}
		
	.archive-list-text p {
		font-size: 1rem;
		}
		
	.feat-wide-img {
		height: 400px;
		}
		
	.feat-wide-text p {
		font-size: 1.2rem;
		margin-bottom: 0;
		}
		
	.foot-widget {
		margin-left: 3.46420323326%; /* 30px / 866px */
		width: 48.2678983834%; /* 418px / 866px */
		}
		
	.foot-widget:nth-child(3n+3) {
		margin-left: 0;
		}
		
	.sec-feat {
		display: block;
		}
		
	.single ul.horz-list li {
		width: 25%;
		}
		
	h1.post-title {
		font-size: 2.9rem;
		}
		
	span.post-excerpt p {
		font-size: 1.3rem;
		}
		
	.post-body-out {
		margin-left: -150px;
		}
		
	.post-body-in {
		margin-left: 150px;
		}
		
	.post-info-left {
		width: 120px;
		}
		
	h1.cat-head,
	span.cat-head-mobi {
		font-size: 2.2rem;
		}
		
	.feat-sub2-out {
		margin-left: 0;
		}
		
	.feat-sub2-in {
		margin-left: 0;
		}
		
	.feat-main2-img img {
		min-width: 1350px;
		}
		
	.feat-main2-text h2 {
		font-size: 4rem !important;
		}
		
	.feat-main2-text p {
		font-size: 1.5rem;
		}
		
	.feat-sub2 {
		margin-left: 3.46020761246%; /* 30px / 867px */
		width: 22.4048442907%; /* 194.25px / 867px */
		height: 50px;
		}
		
	.feat-sub2-img {
		display: none;
		}
		
	.feat-sub2-text {
		margin: 0;
		height: 50px;
		}
		
	ul.archive-col {
		margin-left: -4.73933649289%; /* 30px / 633px */
		width: 104.739336493%; /* 663px / 633px */
		}
		
	ul.archive-col li {
		margin: 0 0 30px 4.52488687783%; /* 30px / 663px */
		width: 45.4761131222%; /* 301.5px / 663px */
		height: 380px;
		}
		
	ul.archive-col li .archive-list-img {
		margin-bottom: 15px;
		}

}

@media screen and (max-width: 1003px) and (min-width: 900px) {

	.main-nav-out {
		left: 15px;
		margin-right: -90px;
		}

	.main-nav-in {
		margin-right: 90px;
		}

	.head-left-wrap,
	.feat-logo-wrap {
		width: 300px;
		}
		
	.head-main-out {
		margin-left: -330px;
		}
		
	.head-main-in {
		margin-left: 330px;
		}
		
	.head-latest-wrap {
		height: 755px;
		}
		
	.category .head-latest-wrap {
		height: 820px;
		}
		
	.head-left-wrap .head-latest-out {
		margin-left: -115px;
		}
		
	.head-left-wrap .head-latest-in {
		margin-left: 115px;
		}
		
	.head-left-wrap .head-latest-img {
		width: 100px;
		}
		
	.head-left-wrap .head-latest-text h2 {
		font-size: .75rem;
		}
		
	.head-left-wrap .head-latest-text p,
	.feat-main-sub,
	.archive-list-share,
	.archive-list-info,
	.prim-feat,
	.related-posts,
	.post-info-left-top .post-soc-count,
	.prev-next-posts {
		display: none;
		}
		
	.feat-main-top {
		height: 350px;
		}
		
	.feat-main-top-img img,
	.feat-main-sub-img img {
		margin-top: 0;
		min-width: 590px;
		}
		
	.feat-main-top-text,
	.feat-main-sub-text,
	.feat-wide-text {
		padding: 50px 4.67289719626% 15px; /* 15px / 321px */
		width: 90.6542056075%; /* 291px / 321px */
		}
		
	.feat-main-top-text h2 {
		font-size: 2.5rem !important;
		}
		
	.feat-main-top-text h2.standard-headline {
		font-size: 1.8rem;
		}
		
	.feat-main-top-text p {
		font-size: .9rem;
		}
		
	.feat-sub-out,
	.feat-sub-in {
		margin-right: 0;
		}
		
	.feat-mobi {
		display: block;
		}
		
	.feat-mobi ul.head-latest-list {
		margin-bottom: 15px;
		}
		
	.feat-ad-wrap {
		margin-left: 0;
		width: 100%;
		}
		
	#leader-wrap {
		margin-bottom: 15px;
		}
		
	.sec-marg-out,
	#content-wrap .sec-marg-out {
		margin-left: -30px;
		right: 15px;
		}

	.sec-marg-in,
	#content-wrap .sec-marg-in {
		margin-left: 30px;
		}
		
	.sec-marg-out2,
	.sec-marg-in2 {
		margin-left: 0;
		right: 0;
		}
		
	.home-widget-wrap {
		margin-bottom: 15px;
		}
		
	.horz-list-head {
		width: 20%;
		}
		
	ul.horz-list li {
		width: 33.333333333%;
		}
		
	.horz-list-img img {
		margin-top: 0;
		}
		
	ul.archive-list li {
		margin-top: 15px;
		padding-top: 15px;
		}

	.archive-list-img {
		margin-right: 3.5%;
		width: 46.5%;
		}
		
	.archive-list-text {
		width: 50%;
		}
		
	.archive-list-text a {
		font-size: 1.2rem;
		margin-bottom: 5px;
		}
		
	.archive-list-text p {
		font-size: .9rem;
		margin-bottom: 0;
		}
		
	.feat-wide-img {
		height: 350px;
		}
		
	.feat-wide-text h2 {
		font-size: 3.5rem;
		}
		
	.feat-wide-text p {
		font-size: 1.1rem;
		}
		
	.nav-links {
		margin-top: 15px;
		}
		
	.foot-widget {
		margin-left: 3.46420323326%; /* 30px / 866px */
		width: 48.2678983834%; /* 418px / 866px */
		}
		
	.foot-widget:nth-child(3n+3) {
		clear: both;
		margin-left: 0;
		}
		
	#top-posts-wrap {
		margin-bottom: 15px;
		}
		
	.horz-list-wrap {
		max-height: 155px;
		}
		
	ul.horz-list li {
		margin-bottom: 15px;
		}
		
	.single ul.horz-list li {
		width: 25%;
		}
		
	h1.post-title {
		font-size: 2.7rem;
		}
		
	span.post-excerpt p {
		font-size: 1.3rem;
		}
		
	.sec-feat {
		display: block;
		}
		
	#post-header {
		margin-bottom: 15px;
		}
		
	.post-body-out {
		float: left;
		margin-left: 0;
		}
		
	.post-body-in {
		margin-left: 0;
		overflow: visible;
		}
		
	.post-info-left {
		padding-top: 0 !important;
		width: 100%;
		}
		
	.post-info-left-top {
		margin-top: 0 !important;
		height: auto;
		}
		
	.author-info {
		border-bottom: none;
		padding-bottom: 0;
		}
		
	.author-img {
		display: inline-block;
		margin-bottom: 0;
		margin-right: 15px;
		width: 40px;
		}
		
	span.author-name {
		display: inline-block;
		margin-top: 15px;
		width: auto;
		}
		
	.post-soc-out {
		position: fixed;
			left: 0;
			bottom: 0;
		margin-right: -60px;
		width: 100%;
		z-index: 100;
		}
		
	.post-soc-in {
		margin-right: 60px;
		}
		
	.post-soc-share {
		background: #fff;
		padding: 15px 0 10px;
		width: 100%;
		height: 30px;
		}
		
	.post-soc-fb,
	.post-soc-twit,
	.post-soc-pin {
		margin-bottom: 0;
		margin-left: 1.6%;
		width: 25.6666666666%;
		}
		
	.soc-count-mobi {
		display: block;
		float: left;
		margin-left: 1.6%;
		width: 15%;
		}
		
	.post-soc-count {
		text-align: center;
		}
		
	span.soc-count-num {
		display: inline-block;
		font-size: 30px;
		margin-right: 10px;
		width: auto;
		}
		
	span.soc-count-text {
		display: inline-block;
		margin-top: 8px;
		width: auto;
		}

	h1.cat-head,
	span.cat-head-mobi {
		font-size: 2.2rem;
		}
		
	#head-arch-top {
		margin: 15px 0 -15px;
		}
		
	.sec-marg-out4,
	.sec-marg-in4 {
		margin-left: 0;
		right: 0;
		}
		
	span.post-header {
		font-size: 1.1rem;
		padding: 5px 15px;
		}
		
	.post-tags {
		font-size: .75rem;
		}
		
	#feat-main2 {
		height: auto;
		}
		
	.feat-sub2-out {
		margin-left: 0;
		}
		
	.feat-sub2-in {
		margin-left: 0;
		}
		
	.feat-main2-img {
		height: 600px;
		}
		
	.feat-main2-img img {
		min-width: 1050px;
		}
		
	.feat-main2-text h2 {
		font-size: 3.5rem !important;
		}
		
	.feat-main2-text p {
		font-size: 1.3rem;
		}
		
	.feat-main2-text {
		padding-bottom: 15px;
		}
		
	.feat-sub2 {
		margin-left: 3.46020761246%; /* 30px / 867px */
		width: 22.4048442907%; /* 194.25px / 867px */
		height: 50px;
		}
		
	.feat-sub2-img {
		display: none;
		}
		
	.feat-sub2-text {
		margin: 0;
		height: 50px;
		}
		
	#main-content-wrap {
		padding-top: 15px;
		}
		
	.category #head-main-top {
		padding-top: 15px;
		}
		
	ul.archive-col {
		margin-left: -3.23974082073%; /* 15px / 463px */
		width: 103.239740821%; /* 478px / 463px */
		}
		
	ul.archive-col li {
		margin: 0 0 30px 3.13807531381%; /* 15px / 478px */
		width: 46.8619246862%; /* 224px / 478px */
		height: 350px;
		}
		
	ul.archive-col li .archive-list-img {
		margin-bottom: 15px;
		}
		
}

@media screen and (max-width: 899px) and (min-width: 768px) {

	.main-nav-out {
		left: 15px;
		margin-right: -90px;
		}

	.main-nav-in {
		margin-right: 90px;
		}

	.head-left-wrap,
	.feat-logo-wrap {
		width: 280px;
		}
		
	.head-main-out {
		margin-left: -310px;
		}
		
	.head-main-in {
		margin-left: 310px;
		}
		
	.head-latest-wrap {
		height: 760px;
		}
		
	.category .head-latest-wrap {
		height: 825px;
		}
		
	.head-left-wrap .head-latest-out {
		margin-left: -115px;
		}
		
	.head-left-wrap .head-latest-in {
		margin-left: 115px;
		}
		
	.head-left-wrap .head-latest-img {
		width: 100px;
		}
		
	.head-latest-text h2 {
		font-size: .75rem;
		}
		
	.head-left-wrap .head-latest-text p,
	.feat-main-top-text p,
	.feat-main-sub,
	.horz-list-head:before,
	.horz-list-head:after,
	.archive-list-share,
	.archive-list-info,
	.prim-feat,
	.related-posts,
	.post-info-left-top .post-soc-count,
	.prev-next-posts {
		display: none;
		}
		
	.feat-main-top {
		height: 350px;
		}
		
	.feat-main-top-img img,
	.feat-main-sub-img img {
		margin-top: 0;
		min-width: 590px;
		}
		
	.feat-main-top-text,
	.feat-main-sub-text,
	.feat-wide-text {
		padding: 50px 4.67289719626% 15px; /* 15px / 321px */
		width: 90.6542056075%; /* 291px / 321px */
		}
		
	.feat-main-top-text h2 {
		font-size: 2.5rem !important;
		}
		
	.feat-main-top-text h2.standard-headline {
		font-size: 1.8rem;
		}
		
	.feat-sub-out,
	.feat-sub-in {
		margin-right: 0;
		}
		
	.feat-mobi {
		display: block;
		}
		
	.feat-mobi ul.head-latest-list {
		margin-bottom: 15px;
		}
		
	.feat-ad-wrap {
		margin-left: 0;
		width: 100%;
		}
		
	#leader-wrap {
		margin-bottom: 15px;
		}
		
	.sec-marg-out,
	#content-wrap .sec-marg-out {
		margin-left: -30px;
		right: 15px;
		}

	.sec-marg-in,
	#content-wrap .sec-marg-in {
		margin-left: 30px;
		}
		
	.sec-marg-out2,
	.sec-marg-in2 {
		margin-left: 0;
		right: 0;
		}
		
	.home-widget-wrap {
		margin-bottom: 15px;
		}
		
	.horz-list-wrap {
		max-height: 220px;
		}
		
	.horz-list-head {
		background: none !important;
		width: 100%;
		height: auto;
		}
		
	.horz-list-head h3 {
		color: #bbb;
		font-size: 2.2rem;
		font-weight: 700;
		margin-bottom: 15px;
		padding: 0;
		text-align: center;
		width: 100%;
		}
		
	ul.horz-list {
		width: 100%;
		}
		
	ul.horz-list li {
		width: 33.3333333333%;
		}
		
	ul.archive-list li {
		margin-top: 15px;
		padding-top: 15px;
		}

	.archive-list-img {
		margin-right: 3.5%;
		width: 36.5%;
		}
		
	.archive-list-text {
		width: 60%;
		}
		
	.archive-list-text a {
		font-size: .9rem;
		margin-bottom: 5px;
		}
		
	.archive-list-text p {
		font-size: .8rem;
		margin-bottom: 0;
		}
		
	.feat-wide-img {
		height: 330px;
		}
		
	.feat-wide-text h2 {
		font-size: 3.2rem;
		}
		
	.feat-wide-text p {
		font-size: 1rem;
		}
		
	.nav-links {
		margin-top: 15px;
		}
		
	.foot-widget {
		margin-left: 4.53857791225%; /* 30px / 661px */
		width: 47.7307110439%; /* 315.5px / 661px */
		}
		
	.foot-widget:nth-child(3n+3) {
		clear: both;
		margin-left: 0;
		}
		
	.foot-menu {
		float: left;
		margin-bottom: 15px;
		max-width: 100%;
		width: 100%;
		}
		
	.foot-copy {
		max-width: 100%;
		width: 100%;
		}
		
	#top-posts-wrap {
		margin-bottom: 15px;
		}
		
	#top-posts-wrap .horz-list-wrap {
		height: 155px;
		}
		
	ul.horz-list li {
		margin-bottom: 15px;
		}
		
	.single ul.horz-list li {
		width: 33.33333333333%;
		}
		
	.post-info-top span {
		font-size: .75rem;
		}
		
	h1.post-title {
		font-size: 2.5rem;
		}
		
	span.post-excerpt p {
		font-size: 1.2rem;
		}
		
	.sec-feat {
		display: block;
		}
		
	#post-header {
		margin-bottom: 15px;
		}
		
	.post-body-out {
		float: left;
		margin-left: 0;
		}
		
	.post-body-in {
		margin-left: 0;
		overflow: visible;
		}
		
	.post-info-left {
		padding-top: 0 !important;
		width: 100%;
		}
		
	.post-info-left-top {
		margin-top: 0 !important;
		height: auto;
		}
		
	.author-info {
		border-bottom: none;
		padding-bottom: 0;
		}
		
	.author-img {
		display: inline-block;
		margin-bottom: 0;
		margin-right: 15px;
		width: 40px;
		}
		
	span.author-name {
		display: inline-block;
		margin-top: 15px;
		width: auto;
		}
		
	.post-soc-out {
		position: fixed;
			left: 0;
			bottom: 0;
		margin-right: -60px;
		width: 100%;
		z-index: 100;
		}
		
	.post-soc-in {
		margin-right: 60px;
		}
		
	.post-soc-share {
		background: #fff;
		padding: 15px 0 10px;
		width: 100%;
		height: 30px;
		}
		
	.post-soc-fb,
	.post-soc-twit,
	.post-soc-pin {
		margin-bottom: 0;
		margin-left: 1.6%;
		width: 25.6666666666%;
		}
		
	.soc-count-mobi {
		display: block;
		float: left;
		margin-left: 1.6%;
		width: 15%;
		}
		
	.post-soc-count {
		text-align: center;
		}
		
	span.soc-count-num {
		display: inline-block;
		font-size: 30px;
		margin-right: 10px;
		width: auto;
		}
		
	span.soc-count-text {
		display: inline-block;
		margin-top: 8px;
		width: auto;
		}
		
	h1.cat-head,
	span.cat-head-mobi {
		font-size: 2.2rem;
		}
		
	#head-arch-top {
		margin: 15px 0 -15px;
		}
		
	.sec-marg-out4,
	.sec-marg-in4 {
		margin-left: 0;
		right: 0;
		}
		
	span.post-header {
		font-size: 1.1rem;
		padding: 5px 15px;
		}
		
	.post-tags {
		font-size: .75rem;
		}
		
	#feat-main2 {
		height: auto;
		}
		
	.feat-sub2-out {
		margin-left: 0;
		}
		
	.feat-sub2-in {
		margin-left: 0;
		}
		
	.feat-main2-img {
		height: 600px;
		}
		
	.feat-main2-img img {
		min-width: 1050px;
		}
		
	.feat-main2-text h2 {
		font-size: 4.2rem !important;
		line-height: 110%;
		}
		
	.feat-main2-text p {
		display: none;
		}
		
	.feat-main2-text {
		padding-bottom: 15px;
		}
		
	.feat-sub2 {
		margin-left: 3.46020761246%; /* 30px / 867px */
		width: 22.4048442907%; /* 194.25px / 867px */
		height: 50px;
		}
		
	.feat-sub2-img {
		display: none;
		}
		
	.feat-sub2-text {
		margin: 0;
		height: 50px;
		}
		
	#main-content-wrap {
		padding-top: 15px;
		}
		
	.category #head-main-top {
		padding-top: 15px;
		}
		
	ul.archive-col {
		margin-left: 0;
		width: 100%;
		}
		
	ul.archive-col li {
		margin: 0 0 30px 0;
		width: 100%;
		height: 355px;
		}
		
	ul.archive-col li .archive-list-img {
		margin-bottom: 15px;
		}

}

@media screen and (max-width: 767px) and (min-width: 660px) {
		
	.main-nav-out {
		left: 0;
		margin-right: -60px;
		}

	.main-nav-in {
		margin-right: 60px;
		}

	.head-left-wrap,
	.head-right-wrap .feat-trend-wrap,
	.feat-sub-wrap,
	.feat-main-top-text p,
	.horz-list-head:before,
	.horz-list-head:after,
	.archive-list-share,
	.archive-list-info,
	.prim-feat,
	.related-posts,
	.post-info-left-top .post-soc-count,
	.head-right-wrap .small-nav-wrap,
	.prev-next-posts,
	.feat-nav-right {
		display: none;
		}
		
	.head-main-out,
	.head-main-in {
		margin-left: 0;
		}
		
	.head-latest-wrap,
	.category .head-latest-wrap {
		height: auto;
		}
		
	ul.head-latest-list {
		margin-bottom: 30px;
		}
		
	.head-latest-text h2 {
		font-size: 1.2rem;
		}
		
	.feat-main-top {
		height: 300px;
		}
		
	.feat-main-top-img img {
		margin-top: 0;
		min-width: 410px;
		}
		
	.feat-main-top-text,
	.feat-main-sub-text,
	.feat-wide-text {
		padding: 50px 4.67289719626% 15px; /* 15px / 321px */
		width: 90.6542056075%; /* 291px / 321px */
		}
		
	.feat-main-top-text h2 {
		font-size: 2.7rem !important;
		}
		
	.feat-main-top-text h2.standard-headline {
		font-size: 1.6rem;
		}
		
	.feat-ad-wrap {
		margin-left: 0;
		width: 100%;
		}
	
	.feat-mobi,
	.head-latest-mobi {
		display: block;
		}
		
	#feat-main1 .sec-marg-out,
	#feat-main1 .sec-marg-in {
		margin-left: 0;
		right: 0;
		}
		
	.feat-sub-out,
	.feat-sub-in {
		margin-right: 0;
		}
		
	#leader-wrap {
		margin-bottom: 15px;
		}
	
	.sec-marg-out,
	.sec-marg-out2,
	#content-wrap .sec-marg-out {
		margin-left: -30px;
		right: 15px;
		}
	
	.sec-marg-in,
	.sec-marg-in2,
	#content-wrap .sec-marg-in {
		margin-left: 30px;
		}
		
	.home-widget-wrap {
		margin-bottom: 15px;
		}
		
	.horz-list-wrap {
		max-height: 220px;
		}
		
	.horz-list-head {
		background: none !important;
		width: 100%;
		height: auto;
		}
		
	.horz-list-head h3 {
		color: #bbb;
		font-size: 1.8rem;
		font-weight: 700;
		margin-bottom: 15px;
		padding: 0;
		text-align: center;
		width: 100%;
		}
		
	ul.horz-list {
		width: 100%;
		}
		
	ul.horz-list li {
		width: 33.3333333333%;
		}
		
	.horz-list-img img {
		margin-top: 0;
		min-width: 195px;
		}
		
	.archive-list-out,
	.archive-list-in {
		margin-right: 0;
		}
		
	.archive-ad-wrap {
		background: #eee;
		float: left;
		margin-left: 0;
		width: 100%;
		}
		
	.archive-list-left {
		margin-bottom: 15px;
		}
		
	ul.archive-list li {
		margin-top: 15px;
		padding-top: 15px;
		}

	.archive-list-img {
		margin-right: 2.5%;
		width: 37.5%;
		}
		
	.archive-list-text {
		width: 60%;
		}
		
	.archive-list-text a {
		font-size: 1.2rem;
		margin-bottom: 5px;
		}
		
	.archive-list-text p {
		font-size: .9rem;
		margin-bottom: 0;
		}
		
	.feat-wide-img {
		height: 270px;
		}
		
	.feat-wide-text h2 {
		font-size: 2.7rem;
		}
		
	.feat-wide-text p {
		font-size: .9rem;
		}
		
	.nav-links {
		margin-top: 15px;
		}
		
	#sidebar-wrap {
		margin-left: 0;
		width: 100%;
		}
		
	.foot-widget {
		margin-left: 0;
		width: 100%; /* 315.5px / 661px */
		}
		
	.foot-menu {
		float: left;
		margin-bottom: 15px;
		max-width: 100%;
		width: 100%;
		}
		
	.foot-copy {
		max-width: 100%;
		width: 100%;
		}
		
	#top-posts-wrap {
		margin-bottom: 15px;
		}
		
	#top-posts-wrap .horz-list-wrap {
		height: 155px;
		}
		
	ul.horz-list li {
		margin-bottom: 15px;
		}
		
	.single ul.horz-list li {
		width: 33.33333333333%;
		}
		
	.post-info-top span {
		font-size: .75rem;
		}
		
	h1.post-title {
		font-size: 2.3rem;
		}
		
	span.post-excerpt p {
		font-size: 1.1rem;
		}
		
	.sec-feat {
		display: block;
		}
		
	#post-header {
		margin-bottom: 15px;
		}
		
	.post-body-out {
		float: left;
		margin-left: 0;
		}
		
	.post-body-in {
		margin-left: 0;
		overflow: visible;
		}
		
	.post-info-left {
		padding-top: 0 !important;
		width: 100%;
		}
		
	.post-info-left-top {
		margin-top: 0 !important;
		height: auto;
		}
		
	.author-info {
		border-bottom: none;
		padding-bottom: 0;
		}
		
	.author-img {
		display: inline-block;
		margin-bottom: 0;
		margin-right: 15px;
		width: 40px;
		}
		
	span.author-name {
		display: inline-block;
		margin-top: 15px;
		width: auto;
		}
		
	.post-soc-out {
		position: fixed;
			left: 0;
			bottom: 0;
		margin-right: -60px;
		width: 100%;
		z-index: 100;
		}
		
	.post-soc-in {
		margin-right: 60px;
		}
		
	.post-soc-share {
		background: #fff;
		padding: 15px 0 10px;
		width: 100%;
		height: 30px;
		}
		
	.post-soc-fb,
	.post-soc-twit,
	.post-soc-pin {
		margin-bottom: 0;
		margin-left: 2.5%;
		width: 22.166666666%;
		}
		
	.soc-count-mobi {
		display: block;
		float: left;
		margin-left: 2.5%;
		width: 21%;
		}
		
	.post-soc-count {
		text-align: center;
		}
		
	span.soc-count-num {
		display: inline-block;
		font-size: 30px;
		margin-right: 10px;
		width: auto;
		}
		
	span.soc-count-text {
		display: inline-block;
		font-size: 12px;
		margin-top: 9px;
		width: auto;
		}
		
	.content-area-out,
	.content-area-in {
		margin-right: 0;
		}
		
	#featured-image {
		margin-bottom: 15px;
		}
		
	span.cat-head-mobi {
		display: block;
		}
		
	h1.cat-head,
	span.cat-head-mobi {
		font-size: 2.2rem;
		}
		
	#head-arch-top {
		margin: 15px 0 -15px;
		}
		
	.sec-marg-out4,
	.sec-marg-in4 {
		margin-left: 0;
		right: 0;
		}
		
	span.post-header {
		font-size: 1.1rem;
		padding: 5px 15px;
		}
		
	.post-tags {
		font-size: .75rem;
		}
		
	#sidebar-wrap {
		padding-top: 25px;
		}
		
	#sidebar-wrap:before {
		content: '';
			background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 20%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.1) 100%);
			background-image: -ms-linear-gradient(to bottom,rgba(0,0,0,0) 20%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.1) 100%);
			background-image: -o-linear-gradient(to bottom,rgba(0,0,0,0) 20%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.1) 100%);
			background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 20%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.1) 100%);
			background-image: -webkit-gradient(linear, top center, bottom center, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.1)));
		background-image: linear-gradient(to top,rgba(0,0,0,0) 20%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.1) 100%);
		position: absolute;
			left: 0;
			top: 0;
		width: 100%;
		height: 10px;
		}
		
	#feat-main2 {
		height: auto;
		}
		
	.feat-sub2-out {
		margin-left: 0;
		}
		
	.feat-sub2-in {
		margin-left: 0;
		}
		
	.feat-main2-img {
		height: 500px;
		}
		
	.feat-main2-img img {
		min-width: 833px;
		}
		
	.feat-main2-text h2{
		font-size: 3.5rem !important;
		line-height: 110%;
		margin-bottom: 5px;
		}
		
	.feat-main2-text p {
		display: none;
		}
		
	.feat-main2-text {
		padding-bottom: 15px;
		}
		
	.feat-sub2-wrap {
		margin-top: 15px;
		}
		
	.feat-sub2 {
		margin-left: 3.46020761246%; /* 30px / 867px */
		width: 22.4048442907%; /* 194.25px / 867px */
		height: 66px;
		}
		
	.feat-sub2-img {
		display: none;
		}
		
	.feat-sub2-text {
		margin: 0;
		height: 66px;
		}
		
	.feat-logo-wrap {
		left: 50%;
		margin-left: -150px;
		width: 260px;
		}
		
	#main-content-wrap {
		padding-top: 15px;
		}
		
	.category #head-main-top {
		padding-top: 0;
		}
		
	h3.home-widget-head {
		font-size: 1.8rem;
		}
		
	#head-main-top {
		max-height: none;
		}
		
	ul.archive-col {
		margin-left: -3.23974082073%; /* 15px / 463px */
		width: 103.239740821%; /* 478px / 463px */
		}
		
	ul.archive-col li {
		margin: 0 0 30px 3.13807531381%; /* 15px / 478px */
		width: 46.8619246862%; /* 224px / 478px */
		height: 340px;
		}
		
	ul.archive-col li .archive-list-img {
		margin-bottom: 15px;
		}
		
	#feat-img-wide {
		margin-bottom: -15px;
		}

}

@media screen and (max-width: 659px) and (min-width: 600px) {

	.main-nav-out {
		left: 0;
		margin-right: -60px;
		}

	.main-nav-in {
		margin-right: 60px;
		}
	
	#main-nav-right .feat-trend-wrap,
	.head-left-wrap,
	.head-right-wrap .feat-trend-wrap,
	.feat-sub-wrap,
	.feat-main-top-text p,
	.horz-list-head:before,
	.horz-list-head:after,
	.archive-list-share,
	.archive-list-info,
	.prim-feat,
	.related-posts,
	.post-info-left-top .post-soc-count,
	.post-soc-fb span:last-child,
	.post-soc-twit span:last-child,
	.post-soc-pin span:last-child,
	.head-right-wrap .small-nav-wrap,
	.prev-next-posts,
	.feat-nav-right {
		display: none;
		}
		
	.head-main-out,
	.head-main-in {
		margin-left: 0;
		}
		
	.head-latest-wrap,
	.category .head-latest-wrap {
		height: auto;
		}
		
	ul.head-latest-list {
		margin-bottom: 30px;
		}
		
	.feat-main-top {
		height: 300px;
		}
		
	.feat-main-top-img img {
		margin-top: 0;
		min-width: 410px;
		}
		
	.feat-main-top-text,
	.feat-main-sub-text,
	.feat-wide-text {
		padding: 50px 4.67289719626% 15px; /* 15px / 321px */
		width: 90.6542056075%; /* 291px / 321px */
		}
		
	.feat-main-top-text h2 {
		font-size: 2.7rem !important;
		}
		
	.feat-main-top-text h2.standard-headline {
		font-size: 1.6rem;
		}
		
	.feat-ad-wrap {
		margin-left: 0;
		width: 100%;
		}
	
	.feat-mobi,
	.head-latest-mobi {
		display: block;
		}
		
	#feat-main1 .sec-marg-out,
	#feat-main1 .sec-marg-in {
		margin-left: 0;
		right: 0;
		}
		
	.feat-sub-out,
	.feat-sub-in {
		margin-right: 0;
		}
		
	#leader-wrap {
		margin-bottom: 15px;
		}
		
	.sec-marg-out,
	.sec-marg-out2,
	#content-wrap .sec-marg-out {
		margin-left: -30px;
		right: 15px;
		}
	
	.sec-marg-in,
	.sec-marg-in2,
	#content-wrap .sec-marg-in {
		margin-left: 30px;
		}
		
	.home-widget-wrap {
		margin-bottom: 15px;
		}
		
	.horz-list-wrap {
		max-height: 220px;
		}
		
	.horz-list-head {
		background: none !important;
		width: 100%;
		height: auto;
		}
		
	.horz-list-head h3 {
		color: #bbb;
		font-size: 1.8rem;
		font-weight: 700;
		margin-bottom: 15px;
		padding: 0;
		text-align: center;
		width: 100%;
		}
		
	ul.horz-list {
		width: 100%;
		}
		
	ul.horz-list li {
		width: 50%;
		}
		
	.archive-list-out,
	.archive-list-in {
		margin-right: 0;
		}
		
	.archive-ad-wrap {
		background: #eee;
		float: left;
		margin-left: 0;
		width: 100%;
		}
		
	.archive-list-left {
		margin-bottom: 15px;
		}
		
	ul.archive-list li {
		margin-top: 15px;
		padding-top: 15px;
		}

	.archive-list-img {
		margin-right: 3%;
		width: 37%;
		}
		
	.archive-list-text {
		width: 60%;
		}
		
	.archive-list-text a {
		font-size: 1.1rem;
		margin-bottom: 5px;
		}
		
	.archive-list-text p {
		font-size: .9rem;
		margin-bottom: 0;
		}
		
	.feat-wide-img {
		height: 270px;
		}
		
	.feat-wide-text h2 {
		font-size: 2.7rem;
		}
		
	.feat-wide-text p {
		font-size: .9rem;
		}
		
	.nav-links {
		margin-top: 15px;
		}
		
	#sidebar-wrap {
		margin-left: 0;
		width: 100%;
		}
		
	.foot-widget {
		margin-left: 0;
		width: 100%; /* 315.5px / 661px */
		}
		
	.foot-menu {
		float: left;
		margin-bottom: 10px;
		max-width: 100%;
		width: 100%;
		}
		
	.foot-menu ul.menu {
		text-align: center;
		}
		
	.foot-menu ul.menu li {
		display: inline-block;
		float: none;
		margin-bottom: 5px;
		}
		
	.foot-copy {
		max-width: 100%;
		width: 100%;
		}
		
	#top-posts-wrap {
		margin-bottom: 15px;
		}
		
	#top-posts-wrap .horz-list-wrap {
		height: 155px;
		}
		
	ul.horz-list li {
		margin-bottom: 15px;
		}
		
	.single ul.horz-list li {
		width: 33.33333333333%;
		}
		
	.horz-list-img img {
		margin-top: 0;
		min-width: 195px;
		}
		
	.post-info-top span {
		font-size: .75rem;
		}
		
	h1.post-title {
		font-size: 2rem;
		}
		
	span.post-excerpt p {
		font-size: 1rem;
		}
		
	.sec-feat {
		display: block;
		}
		
	#post-header {
		margin-bottom: 15px;
		}
		
	.post-body-out {
		float: left;
		margin-left: 0;
		}
		
	.post-body-in {
		margin-left: 0;
		overflow: visible;
		}
		
	.post-info-left {
		padding-top: 0 !important;
		width: 100%;
		}
		
	.post-info-left-top {
		margin-top: 0 !important;
		height: auto;
		}
		
	.author-info {
		border-bottom: none;
		padding-bottom: 0;
		}
		
	.author-img {
		display: inline-block;
		margin-bottom: 0;
		margin-right: 15px;
		width: 40px;
		}
		
	span.author-name {
		display: inline-block;
		margin-top: 15px;
		width: auto;
		}
		
	.post-soc-out {
		position: fixed;
			left: 0;
			bottom: 0;
		margin-right: -60px;
		width: 100%;
		z-index: 100;
		}
		
	.post-soc-in {
		margin-right: 60px;
		}
		
	.post-soc-share {
		background: #fff;
		padding: 15px 0 10px;
		width: 100%;
		height: 30px;
		}
		
	.post-soc-fb,
	.post-soc-twit,
	.post-soc-pin {
		margin-bottom: 0;
		margin-left: 1.6%;
		width: 22.466666666%;
		}
		
	.soc-count-mobi {
		display: block;
		float: left;
		margin-left: 2.5%;
		width: 21%;
		}
		
	.post-soc-count {
		text-align: center;
		}
		
	span.soc-count-num {
		display: inline-block;
		font-size: 30px;
		margin-right: 10px;
		width: auto;
		}
		
	span.soc-count-text {
		display: inline-block;
		font-size: 12px;
		margin-top: 9px;
		width: auto;
		}
		
	.content-area-out,
	.content-area-in {
		margin-right: 0;
		}
		
	#featured-image {
		margin-bottom: 15px;
		}
		
	span.cat-head-mobi {
		display: block;
		}
		
	h1.cat-head,
	span.cat-head-mobi {
		font-size: 2.2rem;
		}
		
	#head-arch-top {
		margin: 15px 0 -15px;
		}
		
	.sec-marg-out4,
	.sec-marg-in4 {
		margin-left: 0;
		right: 0;
		}
		
	span.post-header {
		font-size: 1.1rem;
		padding: 5px 15px;
		}
		
	.post-tags {
		font-size: .75rem;
		}
		
	#sidebar-wrap {
		padding-top: 25px;
		}
		
	#sidebar-wrap:before {
		content: '';
			background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 20%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.1) 100%);
			background-image: -ms-linear-gradient(to bottom,rgba(0,0,0,0) 20%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.1) 100%);
			background-image: -o-linear-gradient(to bottom,rgba(0,0,0,0) 20%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.1) 100%);
			background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 20%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.1) 100%);
			background-image: -webkit-gradient(linear, top center, bottom center, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.1)));
		background-image: linear-gradient(to top,rgba(0,0,0,0) 20%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.1) 100%);
		position: absolute;
			left: 0;
			top: 0;
		width: 100%;
		height: 10px;
		}
		
	#feat-main2 {
		height: auto;
		}
		
	.feat-sub2-out {
		margin-left: 0;
		}
		
	.feat-sub2-in {
		margin-left: 0;
		}
		
	.feat-main2-img {
		height: 500px;
		}
		
	.feat-main2-img img {
		min-width: 833px;
		}
		
	.feat-main2-text h2 {
		font-size: 3.5rem !important;
		line-height: 110%;
		margin-bottom: 0;
		}
		
	.feat-main2-text p {
		display: none;
		}
		
	.feat-main2-text {
		padding-bottom: 15px;
		}
		
	.feat-sub2-wrap {
		margin-top: 15px;
		}
		
	.feat-sub2 {
		margin-left: 3.46020761246%; /* 30px / 867px */
		width: 22.4048442907%; /* 194.25px / 867px */
		height: 66px;
		}
		
	.feat-sub2-img {
		display: none;
		}
		
	.feat-sub2-text {
		margin: 0;
		height: 66px;
		}
		
	.feat-logo-wrap {
		left: 50%;
		margin-left: -150px;
		width: 260px;
		}
		
	#main-content-wrap {
		padding-top: 15px;
		}
		
	.category #head-main-top {
		padding-top: 0;
		}
		
	h3.home-widget-head {
		font-size: 1.8rem;
		}
		
	#head-main-top {
		max-height: none;
		}
		
	ul.archive-col {
		margin-left: -3.23974082073%; /* 15px / 463px */
		width: 103.239740821%; /* 478px / 463px */
		}
		
	ul.archive-col li {
		margin: 0 0 30px 3.13807531381%; /* 15px / 478px */
		width: 46.8619246862%; /* 224px / 478px */
		height: 320px;
		}
		
	ul.archive-col li .archive-list-img {
		margin-bottom: 15px;
		}
		
	#feat-img-wide {
		margin-bottom: -15px;
		}

}

@media screen and (max-width: 599px) and (min-width: 480px) {

	#fly-wrap {
		-webkit-transform: translateX(100%);
			transform: translateX(100%);
		width: 0;
		}
		
	.fly-menu {
		width: 100% !important;
		}
		
	.fly-content,
	.main-nav-over {
		-webkit-transform: translateX(-100%) !important;
			transform: translateX(-100%) !important;
		}
		
	.fly-but-wrap {
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
		    -ms-box-shadow: none;
		     -o-box-shadow: none;
			box-shadow: none;
		}
		
	.fly-bottom-soc,
	.fly-soc-head {
		-webkit-transform: translateY(0);
			transform: translateY(0);
		}
		
	#content-out,
	#content-in {
		margin-right: 0;
		}

	.main-nav-out,
	.main-nav-in {
		left: 0;
		margin-right: 0;
		}
	
	#main-nav-right,
	.head-left-wrap,
	.head-right-wrap .feat-trend-wrap,
	.feat-sub-wrap,
	.fly-to-top,
	.feat-main-top-text p,
	.horz-list-head:before,
	.horz-list-head:after,
	.archive-list-share,
	.archive-list-info,
	.archive-list-text p,
	.feat-wide-text p,
	#top-posts-wrap,
	.prim-feat,
	.related-posts,
	.post-info-left-top .post-soc-count,
	.post-soc-fb span,
	.post-soc-twit span,
	.post-soc-pin span,
	.head-right-wrap .small-nav-wrap,
	.prev-next-posts,
	.feat-nav-right {
		display: none;
		}
		
	.head-main-out,
	.head-main-in {
		margin-left: 0;
		}

	.head-main-out {
		margin-bottom: 15px;
		}
		
	span.head-latest-head {
		font-size: 1.9rem;
		}
		
	.head-latest-wrap,
	.category .head-latest-wrap {
		height: auto;
		}
		
	ul.head-latest-list {
		margin-bottom: 15px;
		}
		
	.head-latest-text h2 {
		font-size: .75rem;
		}
		
	.feat-main-top {
		height: 270px;
		}
		
	.feat-main-top-img img {
		margin-top: 0;
		min-width: 410px;
		}
		
	.feat-main-top-text,
	.feat-main-sub-text,
	.feat-wide-text {
		padding: 50px 4.67289719626% 15px; /* 15px / 321px */
		width: 90.6542056075%; /* 291px / 321px */
		}
		
	.feat-main-top-text h2 {
		font-size: 2.4rem !important;
		}
		
	.feat-main-top-text h2.standard-headline {
		font-size: 1.4rem;
		}
		
	.feat-ad-wrap {
		margin-left: 0;
		width: 100%;
		}
	
	.feat-mobi,
	.head-latest-mobi {
		display: block;
		}
		
	#feat-main1 .sec-marg-out,
	#feat-main1 .sec-marg-in {
		margin-left: 0;
		right: 0;
		}
		
	.feat-sub-out,
	.feat-sub-in {
		margin-right: 0;
		}
		
	#leader-wrap {
		margin-bottom: 15px;
		}
		
	.sec-marg-out,
	.sec-marg-out2,
	#content-wrap .sec-marg-out {
		margin-left: -30px;
		right: 15px;
		}
	
	.sec-marg-in,
	.sec-marg-in2,
	#content-wrap .sec-marg-in {
		margin-left: 30px;
		}
		
	.home-widget-wrap {
		margin-bottom: 15px;
		}
		
	.horz-list-wrap {
		max-height: 220px;
		}
		
	.horz-list-head {
		background: none !important;
		width: 100%;
		height: auto;
		}
		
	.horz-list-head h3 {
		color: #bbb;
		font-size: 1.8rem;
		font-weight: 700;
		margin-bottom: 15px;
		padding: 0;
		text-align: center;
		width: 100%;
		}
		
	ul.horz-list {
		width: 100%;
		}
		
	ul.horz-list li {
		width: 50%;
		}
		
	.archive-list-out,
	.archive-list-in {
		margin-right: 0;
		}
		
	.archive-ad-wrap {
		background: #eee;
		float: left;
		margin-left: 0;
		width: 100%;
		}
		
	.archive-list-left {
		margin-bottom: 15px;
		}
		
	ul.archive-list li {
		margin-top: 15px;
		padding-top: 15px;
		}

	.archive-list-img {
		margin-right: 3%;
		width: 35%;
		}
		
	.archive-list-text {
		width: 62%;
		}
		
	.archive-list-text a {
		font-size: .9rem;
		margin-bottom: 5px;
		}
		
	.feat-wide-img {
		height: 250px;
		}
		
	.feat-wide-text h2 {
		font-size: 2.4rem;
		}
		
	.nav-links {
		margin-top: 15px;
		}
		
	#sidebar-wrap {
		margin-left: 0;
		width: 100%;
		}
		
	.foot-widget {
		margin-left: 0;
		width: 100%; /* 315.5px / 661px */
		}
		
	.foot-menu {
		float: left;
		margin-bottom: 10px;
		max-width: 100%;
		width: 100%;
		}
		
	.foot-menu ul.menu {
		text-align: center;
		}
		
	.foot-menu ul.menu li {
		display: inline-block;
		float: none;
		margin-bottom: 5px;
		}
		
	.foot-copy {
		max-width: 100%;
		width: 100%;
		}
		
	.post-info-top span {
		font-size: .75rem;
		}
		
	h1.post-title {
		font-size: 1.8rem;
		}
		
	span.post-excerpt p {
		font-size: 1rem;
		}
		
	.sec-feat {
		display: block;
		}
		
	#post-header {
		margin-bottom: 15px;
		}
		
	.post-body-out {
		float: left;
		margin-left: 0;
		}
		
	.post-body-in {
		margin-left: 0;
		overflow: visible;
		}
		
	.post-info-left {
		padding-top: 0 !important;
		width: 100%;
		}
		
	.post-info-left-top {
		margin-top: 0 !important;
		height: auto;
		}
		
	.author-info {
		border-bottom: none;
		padding-bottom: 0;
		}
		
	.author-img {
		display: inline-block;
		margin-bottom: 0;
		margin-right: 15px;
		width: 40px;
		}
		
	span.author-name {
		display: inline-block;
		margin-top: 15px;
		width: auto;
		}
		
	.post-soc-out {
		position: fixed;
			left: 0;
			bottom: 0;
		width: 100%;
		z-index: 100;
		}
		
	.post-soc-share {
		background: #fff;
		padding: 10px 0;
		width: 100%;
		height: 30px;
		}
		
	.post-soc-fb,
	.post-soc-twit,
	.post-soc-pin {
		margin-bottom: 0;
		margin-left: 2.1%;
		width: 20.3%;
		}
		
	.soc-count-mobi {
		display: block;
		float: left;
		margin-left: 3.2%;
		width: 26%;
		}
		
	.post-soc-count {
		text-align: center;
		}
		
	span.soc-count-num {
		display: inline-block;
		font-size: 30px;
		margin-right: 10px;
		width: auto;
		}
		
	span.soc-count-text {
		display: inline-block;
		font-size: 12px;
		margin-top: 9px;
		width: auto;
		}
		
	.content-area-out,
	.content-area-in {
		margin-right: 0;
		}
		
	#featured-image {
		margin-bottom: 15px;
		}
		
	span.cat-head-mobi {
		display: block;
		}
		
	h1.cat-head,
	span.cat-head-mobi {
		font-size: 2.2rem;
		}
		
	#head-arch-top {
		margin: 15px 0 -15px;
		}
		
	.sec-marg-out4,
	.sec-marg-in4 {
		margin-left: 0;
		right: 0;
		}
		
	span.post-header {
		font-size: 1.1rem;
		padding: 5px 15px;
		}
		
	.post-tags {
		font-size: .75rem;
		}
		
	#sidebar-wrap {
		padding-top: 25px;
		}
		
	#sidebar-wrap:before {
		content: '';
			background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 20%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.1) 100%);
			background-image: -ms-linear-gradient(to bottom,rgba(0,0,0,0) 20%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.1) 100%);
			background-image: -o-linear-gradient(to bottom,rgba(0,0,0,0) 20%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.1) 100%);
			background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 20%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.1) 100%);
			background-image: -webkit-gradient(linear, top center, bottom center, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.1)));
		background-image: linear-gradient(to top,rgba(0,0,0,0) 20%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.1) 100%);
		position: absolute;
			left: 0;
			top: 0;
		width: 100%;
		height: 10px;
		}
		
	#feat-main2 {
		height: auto;
		}
		
	.feat-sub2-out {
		margin-left: 0;
		}
		
	.feat-sub2-in {
		margin-left: 0;
		}
		
	.feat-main2-img {
		height: 500px;
		}
		
	.feat-main2-img img {
		min-width: 833px;
		}
		
	.feat-main2-text h2 {
		font-size: 3.5rem !important;
		line-height: 110%;
		margin-bottom: 0;
		}
		
	.feat-main2-text p {
		display: none;
		}
		
	.feat-main2-text {
		padding-bottom: 15px;
		}
		
	.feat-sub2-wrap {
		margin-top: 15px;
		}
		
	.feat-sub2 {
		margin-left: 3.46020761246%; /* 30px / 867px */
		width: 22.4048442907%; /* 194.25px / 867px */
		height: 66px;
		}
		
	.feat-sub2-img {
		display: none;
		}
		
	.feat-sub2-text {
		margin: 0;
		height: 66px;
		}
		
	.feat-logo-wrap {
		left: 50%;
		margin-left: -150px;
		width: 260px;
		}
		
	#main-content-wrap {
		padding-top: 15px;
		}
		
	.category #head-main-top {
		padding-top: 0;
		}
		
	h3.home-widget-head {
		font-size: 1.8rem;
		}
		
	#head-main-top {
		max-height: none;
		}
		
	ul.archive-col {
		margin-left: -3.23974082073%; /* 15px / 463px */
		width: 103.239740821%; /* 478px / 463px */
		}
		
	ul.archive-col li {
		margin: 0 0 30px 3.13807531381%; /* 15px / 478px */
		width: 46.8619246862%; /* 224px / 478px */
		height: 260px;
		}
		
	ul.archive-col li .archive-list-img {
		margin-bottom: 15px;
		}
		
	#feat-img-wide {
		margin-bottom: -15px;
		}

}

@media screen and (max-width: 479px) {

	#fly-wrap {
		left: 0;
		right: auto;
		-webkit-transform: translate3d(0,0,0);
		   -moz-transform: translate3d(0,0,0);
		    -ms-transform: translate3d(0,0,0);
		     -o-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
		width: 0;
		z-index: auto;
		}
		
	.fly-menu {
		width: 100% !important;
		}
		
	.fly-content,
	.main-nav-over {
		-webkit-transform: translate3d(-100%,0,0) !important;
		   -moz-transform: translate3d(-100%,0,0) !important;
		    -ms-transform: translate3d(-100%,0,0) !important;
		     -o-transform: translate3d(-100%,0,0) !important;
			transform: translate3d(-100%,0,0) !important;
		}
		
	.fly-but-wrap {
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
		    -ms-box-shadow: none;
		     -o-box-shadow: none;
			box-shadow: none;
		z-index: 99999999;
		}
		
	.fly-bottom-soc,
	.fly-soc-head {
		-webkit-transform: translate3d(0,0,0);
		   -moz-transform: translate3d(0,0,0);
		    -ms-transform: translate3d(0,0,0);
		     -o-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
		}
		
	#content-out,
	#content-in {
		margin-right: 0;
		}

	.main-nav-out,
	.main-nav-in {
		left: 0;
		margin-right: 0;
		}
	
	#main-nav-right,
	.head-left-wrap,
	.head-right-wrap .feat-trend-wrap,
	.feat-sub-wrap,
	.fly-to-top,
	.feat-main-top-text p,
	.horz-list-head:before,
	.horz-list-head:after,
	.archive-list-share,
	.archive-list-info,
	.archive-list-text p,
	.feat-wide-text p,
	#top-posts-wrap,
	.prim-feat,
	.related-posts,
	.post-info-left-top .post-soc-count,
	.post-soc-fb span,
	.post-soc-twit span,
	.post-soc-pin span,
	.small-nav-wrap,
	.reg-img,
	.prev-next-posts,
	.feat-nav-right,
	.feat-sub2-wrap,
	.feat-main2-nav {
		display: none;
		}
		
	#site-fixed {
		z-index: 9999999;
		}
		
	.mob-img {
		display: block;
		}
		
	.head-main-out,
	.head-main-in {
		margin-left: 0;
		}
		
	.head-main-out {
		margin-bottom: 15px;
		}
		
	span.head-latest-head {
		font-size: 1.9rem;
		}

	.head-latest-wrap,
	.category .head-latest-wrap {
		height: auto;
		}
		
	ul.head-latest-list {
		margin-bottom: 15px;
		}
		
	.head-latest-text h2 {
		font-size: .75rem;
		}
		
	.head-latest-text p {
		font-size: .8rem;
		}
		
	.feat-main-top {
		height: 245px;
		}
		
	.feat-main-top-img img {
		margin-top: 0;
		min-width: 410px;
		}
		
	.feat-main-top-text,
	.feat-main-sub-text,
	.feat-wide-text {
		padding: 50px 4.67289719626% 15px; /* 15px / 321px */
		width: 90.6542056075%; /* 291px / 321px */
		}
		
	.feat-main-top-text h2 {
		font-size: 2.2rem !important;
		}
		
	.feat-main-top-text h2.standard-headline {
		font-size: 1.2rem;
		}
		
	.feat-ad-wrap {
		margin-left: 0;
		width: 100%;
		}
	
	.feat-mobi,
	.head-latest-mobi {
		display: block;
		}
		
	#feat-main1 .sec-marg-out,
	#feat-main1 .sec-marg-in {
		margin-left: 0;
		right: 0;
		}
		
	.feat-sub-out,
	.feat-sub-in {
		margin-right: 0;
		}
		
	#leader-wrap {
		margin-bottom: 15px;
		}
		
	.sec-marg-out,
	.sec-marg-out2,
	#content-wrap .sec-marg-out {
		margin-left: -30px;
		right: 15px;
		}
	
	.sec-marg-in,
	.sec-marg-in2,
	#content-wrap .sec-marg-in {
		margin-left: 30px;
		}
		
	.home-widget-wrap {
		margin-bottom: 15px;
		}
		
	.horz-list-wrap {
		max-height: 235px;
		}
		
	.horz-list-head {
		background: none !important;
		width: 100%;
		height: auto;
		}
		
	.horz-list-head h3 {
		color: #bbb;
		font-size: 1.8rem;
		font-weight: 700;
		margin-bottom: 15px;
		padding: 0;
		text-align: center;
		width: 100%;
		}
		
	ul.horz-list {
		width: 100%;
		}
		
	ul.horz-list li {
		width: 50%;
		}
		
	.horz-list-img img {
		margin-top: 0;
		min-width: 195px;
		}
		
	.archive-list-out,
	.archive-list-in {
		margin-right: 0;
		}
		
	.archive-ad-wrap {
		background: #eee;
		float: left;
		margin-left: 0;
		width: 100%;
		}
		
	.archive-list-left {
		margin-bottom: 15px;
		}
		
	ul.archive-list li {
		margin-top: 15px;
		padding-top: 15px;
		}

	.archive-list-img {
		margin-right: 4%;
		width: 41%;
		}
		
	.archive-list-text {
		width: 55%;
		}
		
	.archive-list-text a {
		font-size: .75rem;
		margin-bottom: 5px;
		}
		
	.feat-wide-img {
		height: 200px;
		}
		
	.feat-wide-img img {
		margin-top: 0;
		min-width: 350px;
		}
		
	.feat-wide-text h2 {
		font-size: 2rem;
		}
		
	.nav-links {
		margin-top: 15px;
		}
		
	#sidebar-wrap {
		margin-left: 0;
		width: 100%;
		}
		
	.foot-widget {
		margin-left: 0;
		width: 100%; /* 315.5px / 661px */
		}
		
	.foot-menu {
		float: left;
		margin-bottom: 10px;
		max-width: 100%;
		width: 100%;
		}
		
	.foot-menu ul.menu {
		text-align: center;
		}
		
	.foot-menu ul.menu li {
		display: inline-block;
		float: none;
		margin-bottom: 5px;
		}
		
	.foot-copy {
		max-width: 100%;
		width: 100%;
		}
		
	.post-info-top span {
		font-size: .75rem;
		}
		
	h1.post-title {
		font-size: 1.7rem;
		}
		
	span.post-excerpt p {
		font-size: 1rem;
		}
		
	.sec-feat {
		display: block;
		}
		
	#post-header {
		margin-bottom: 15px;
		}
		
	.post-body-out {
		float: left;
		margin-left: 0;
		}
		
	.post-body-in {
		margin-left: 0;
		overflow: visible;
		}
		
	.post-info-left {
		padding-top: 0 !important;
		width: 100%;
		}
		
	.post-info-left-top {
		margin-top: 0 !important;
		height: auto;
		}
		
	.author-info {
		border-bottom: none;
		padding-bottom: 0;
		}
		
	.author-img {
		display: inline-block;
		margin-bottom: 0;
		margin-right: 15px;
		width: 40px;
		}
		
	span.author-name {
		display: inline-block;
		margin-top: 15px;
		width: auto;
		}
		
	.post-soc-out {
		position: fixed;
			left: 0;
			bottom: 0;
		width: 100%;
		z-index: 100;
		}
		
	.post-soc-share {
		background: #fff;
		padding: 10px 0;
		width: 100%;
		height: 30px;
		}
		
	.post-soc-fb,
	.post-soc-twit,
	.post-soc-pin {
		margin-bottom: 0;
		margin-left: 2%;
		width: 20%;
		}
		
	.soc-count-mobi {
		display: block;
		float: left;
		margin-left: 3.2%;
		width: 27%;
		}
		
	.post-soc-count {
		text-align: center;
		}
		
	span.soc-count-num {
		display: inline-block;
		font-size: 30px;
		margin-right: 10px;
		width: auto;
		}
		
	span.soc-count-text {
		display: inline-block;
		font-size: 12px;
		margin-top: 9px;
		width: auto;
		}
		
	.content-area-out,
	.content-area-in {
		margin-right: 0;
		}
		
	#featured-image {
		margin-bottom: 15px;
		}
		
	span.cat-head-mobi {
		display: block;
		}
		
	h1.cat-head,
	span.cat-head-mobi {
		font-size: 2rem;
		}
		
	#head-arch-top {
		margin: 15px 0 -15px;
		}
		
	.sec-marg-out4,
	.sec-marg-in4 {
		margin-left: 0;
		right: 0;
		}
		
	span.post-header {
		font-size: 1.1rem;
		padding: 5px 15px;
		}
		
	.post-tags {
		font-size: .75rem;
		}
		
	#sidebar-wrap {
		padding-top: 25px;
		}
		
	#sidebar-wrap:before {
		content: '';
			background-image: -moz-linear-gradient(to bottom,rgba(0,0,0,0) 20%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.1) 100%);
			background-image: -ms-linear-gradient(to bottom,rgba(0,0,0,0) 20%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.1) 100%);
			background-image: -o-linear-gradient(to bottom,rgba(0,0,0,0) 20%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.1) 100%);
			background-image: -webkit-linear-gradient(to bottom,rgba(0,0,0,0) 20%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.1) 100%);
			background-image: -webkit-gradient(linear, top center, bottom center, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.1)));
		background-image: linear-gradient(to top,rgba(0,0,0,0) 20%, rgba(0,0,0,0.05) 70%, rgba(0,0,0,0.1) 100%);
		position: absolute;
			left: 0;
			top: 0;
		width: 100%;
		height: 10px;
		}
		
	#feat-main2 {
		height: auto;
		}
		
	.feat-sub2-out {
		margin-left: 0;
		}
		
	.feat-sub2-in {
		margin-left: 0;
		}
		
	.feat-main2-img {
		height: 270px;
		}
		
	.feat-main2-img img {
		min-width: 450px;
		}
		
	.feat-main2-text h2 {
		font-size: 2.2rem !important;
		line-height: 110%;
		}
		
	.feat-main2-text p {
		display: none;
		}
		
	.feat-main2-text {
		padding-bottom: 15px;
		}
		
	.feat-sub2-img {
		display: none;
		}
		
	.feat-sub2-text {
		margin: 0;
		height: auto;
		}
		
	#main-content-wrap {
		padding-top: 15px;
		}
		
	.category #head-main-top {
		padding-top: 0;
		}
		
	h3.home-widget-head {
		font-size: 1.8rem;
		}
		
	#head-main-top {
		max-height: none;
		}
		
	ul.archive-col {
		margin-left: 0;
		width: 100%;
		}
		
	ul.archive-col li {
		margin: 0 0 30px 0;
		width: 100%;
		height: auto;
		}
		
	ul.archive-col li .archive-list-img {
		margin-bottom: 15px;
		}
		
	#feat-img-wide {
		margin-bottom: -15px;
		}

}