@import url(//fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic|Montserrat:400,700|PT+Serif:400,400italic,700,700italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese);

a,
a:visited {
	color: #27c4ff;
	}

.horz-list-head,
span.related-head,
span.post-header {
	background: #333;
	}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	background-color: #333;
	}

.horz-list-head:after {
	border-color: transparent transparent transparent #333;
	}

h4.post-header {
	border-bottom: 1px solid #333;
	}

span.post-header:after {
	border-color: #333 transparent transparent transparent;
	}

span.post-cat a,
span.archive-list-cat,
span.post-tags-header,
.woocommerce .star-rating span,
.post-tags a:hover {
	color: #ee0077;
	}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	background-color: #ee0077;
	}

.comment-reply a,
.feat-video {
	background: #ee0077;
	}

.woocommerce span.onsale,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
	background-color: #ee0077;
	}

.feat-gallery {
	background: #27c4ff;
	}

#main-nav-wrap {
	background: #333;
	}
	
.small-nav-wrap ul li a {
	color: #333;
	}

#main-nav-right ul.feat-trend-list li.trend-item a,
.feat-nav-right .small-nav-wrap ul li a,
#main-nav-right .small-nav-wrap ul li a {
	color: #fff;
	}

@media screen and (max-width: 599px) {
.fly-but-wrap span {
	background: #fff;
	}

.fly-but-wrap {
	background: #333;
	}
}

.head-right-wrap ul.feat-trend-list li.trend-item a,
.horz-list-text h2,
.archive-list-text a,
span.author-name a,
.prev-next-text,
.head-latest-text h2,
h2.author-list-head a {
	color: #222;
	}

.feat-main-top-text h2,
.feat-main-sub-text h2,
.feat-wide-text h2,
.feat-main2-text h2,
#woo-content h1.page-title,
.woocommerce div.product .product_title,
.woocommerce ul.products li.product h3 {
	font-family: 'Playfair Display', serif;
	}

.head-latest-text h2,
ul.feat-trend-list li.trend-item a,
.horz-list-text h2,
.archive-list-text a,
.prev-next-text,
h1.post-title,
.content-main blockquote p,
.woocommerce ul.product_list_widget span.product-title,
.woocommerce ul.product_list_widget li a,
.woocommerce .related h2,
.woocommerce div.product .woocommerce-tabs .panel h2,
.feat-sub2-text a,
.content-main h1,
.content-main h2,
.content-main h3,
.content-main h4,
.content-main h5,
.content-main h6,
h2.author-list-head {
	font-family: 'Montserrat', sans-serif;
	}

span.related-head,
h1.cat-head,
span.cat-head-mobi,
span.head-latest-head,
ul.feat-trend-list li.trend-head,
h3.home-widget-head,
.horz-list-head h3,
span.post-header {
	font-family: 'Playfair Display', serif;
	}

.head-latest-text p,
.archive-list-text p,
.feat-main-top-text p,
.feat-wide-text p,
span.post-excerpt p,
.content-main,
.author-page-text p,
#post-404,
.foot-widget,
.feat-main2-text p {
	font-family: 'PT Serif', sans-serif;
	}
	
nav.main-menu ul li a,
.small-nav-wrap ul li a,
.foot-menu ul.menu li a {
	font-family: 'Open Sans', sans-serif;
	}

ul.head-latest-list li:hover .head-latest-text h2,
ul.feat-trend-list li.trend-item a:hover,
ul.horz-list li:hover .horz-list-text h2,
#main-nav-right ul.feat-trend-list li.trend-item a:hover,
.small-nav-wrap ul li a:hover,
.archive-list-text a:hover,
#foot-wrap a:hover,
.prev-next-item:hover .prev-next-text,
ul.author-social li a:hover,
span.author-name a:hover,
.woocommerce .sidebar-widget a:hover,
h2.author-list-head a:hover,
span.post-cat a:hover,
a:hover {
	color: #999;
	}